[2016-03-15 05:07] shekharS7 opened #1 "integration issue"
I integrated in my magento. but it is not working in my magento can u check this .

[2016-03-18 06:20] 73sl4 commented on #1
Can you please send us an email with the full details and we'll surely help you.

[2016-03-18 06:20] #1 closed

[2016-04-12 11:39] ace03uec opened #8 "Fix User Agent"
- User Agent string does not include razorpay-magento version.
- User Agent string should not be formatted with ' '.

[2016-04-12 12:19] captn3m0 commented on #8
This is for which version of the plugin? 1 or 2? I'm pretty sure @73sl4 wrote code for this for Magento 2.

[2016-04-13 05:40] ace03uec commented on #8
This was for Magento 1.

[2016-06-14 11:00] refaelgold opened #13 "i get 400 bad request"
GET http://pilo.php7.stage.agent.co.il/razorpay/payment/order?_=1465896779631 400 (Bad Request)

any idea how to fix it?

[2016-06-14 11:02] captn3m0 commented on #13
Your site is hidden behind a password, it seems. If the bad request error is propogating from Razorpay, we will be sending a reason along with the response in the body.

[2016-06-14 11:50] refaelgold commented on #13
U: stage
P: Boof1j

do you have any test detail to put on admin for checking your module?

[2016-06-14 11:58] captn3m0 commented on #13
You are getting a `cURL error 77:`. Probable cause is that you do not have CACertificates installed properly on your system.  You can see https://stackoverflow.com/questions/17064601/curl-not-working-error-77-for-ssl-connections-on-centos-for-non-root-users for more details.

If you are running ubuntu/debian you can just do `sudo apt-get install ca-certificates`

[2016-06-14 11:58] captn3m0 commented on #13
You will need to set your Key Id and Key Secret which you can obtain by signing up at dashboard.razorpay.com if you haven't already

[2016-06-14 12:00] refaelgold commented on #13
i allready put - i must install CACertificates ?

[2016-06-14 12:03] refaelgold commented on #13
Do you have any dummy data for testing?

[2016-06-14 12:04] refaelgold commented on #13
In addiation - i got
collection.js:237 Uncaught TypeError: this.elems is not a function

[2016-06-14 12:05] captn3m0 commented on #13
That is an error on the magento javascript, and we can't do anything about that.

[2016-06-14 12:10] refaelgold commented on #13
Its only happend when i activate your module.

now youe module is disabled and the error is gone...

[2016-06-14 12:14] captn3m0 commented on #13
Please send a mail to `integrations@razorpay.com` with your PHP and magento version, and we'll take it from there.

[2016-06-14 12:28] refaelgold commented on #13
I send my email and waiting for response.

i leave this issue open for other users who maybe have the same issue

i use php 7.0.6 and M2 version 2.0.7

[2016-06-20 09:13] refaelgold opened #14 "not supported on Magento 2.1.0-rc3"
this log:

   - Installation request for razorpay/magento ^2.0 -> satisfiable by razorpay/magento[2.0.2].
    - Conclusion: remove magento/framework 100.1.0-rc3
    - Conclusion: don't install magento/framework 100.1.0-rc3
    - razorpay/magento 2.0.2 requires magento/framework 100.0.* -> satisfiable by magento/framework[100.0.2, 100.0.3, 100.0.4, 100.0.5, 100.0.6, 100.0.7, 100.0.8, 100.0.9].

[2016-06-21 10:35] arvind07 opened #15 "Class 'Razorpay\Api\Api' not found"
Hi,
I just integrated this module in my Magento 2.0.7 site. It gave me following error:

`Fatal error: Class 'Razorpay\Api\Api' not found in app\code\Razorpay\Magento\Model\PaymentMethod.php on line 155`

Please check and tell me how to fix.

Thanks

[2016-06-21 10:38] 73sl4 commented on #15
You need to run `composer dumpautoload -o` command to create a classmap with Razorpay SDK.

[2016-06-21 10:38] #15 closed

[2016-06-21 11:08] arvind07 commented on #15
Thanks,
It fixed the problem.

[2016-06-24 05:25] arvind07 commented on #14
Hi,
I am trying to upgrade to Magento 2.1.0 but I am getting the above error.
Is there any update on how to fix it?

Thanks

[2016-06-24 16:27] andimov commented on #14
@refaelgold
please, provide description according to the template.

[2016-06-25 04:30] arvind07 commented on #14
@andimov Just upgrade your existing Magento 2 installation to latest 2.1.0 through command line.
You will face the above error.

[2016-07-08 11:13] arvind07 opened #16 "Error Capturing the transaction"
When we apply and discount coupon to the cart, we are not able to place the order. we get this error: http://joxi.net/DmBNnDRuN3yjLm

Please fix it soon.

[2016-07-08 11:22] arvind07 commented on #16
This issue occurs when the cart total contains decimal numbers like Rs. 1990.10
Works OK in case of round figures like 1990.00

Please fix this issue.

[2016-07-08 12:03] arvind07 commented on #16
I guess I have found the cause of this bug.
In the Order controller  (https://github.com/razorpay/razorpay-magento/blob/master-2.x/Controller/Payment/Order.php) on line no 41:

`$amount = (int) round($this->getQuote()->getGrandTotal(), 2)*100;`

Here you have type casted the amount to `int`. This is weird. What if the quote total is in decimals like 1234.56?

Changing the above line to:

`$amount

[2016-07-11 07:13] captn3m0 commented on #16
Thanks a lot for the detailed report. We are looking into this..

Ideally, round($x, 2) would round to 2 decimals of precision, so multiplying by 100 should return a safe int.

[2016-07-12 09:21] manojurfriend opened #17 "Checkout page error"
when going to check out page
I`m getting this error

Fatal error: Class 'Razorpay\Api\Api' not found in D:\xammp\htdocs\testing\app\code\razorpay\magento\Model\PaymentMethod.php on line 155

[2016-07-12 11:26] captn3m0 commented on #17
Did you run composer install?

[2016-07-12 11:28] manojurfriend commented on #17
Yeah i installed using composer and error is cleared

[2016-07-12 11:29] captn3m0 commented on #17
Sounds good. Let us know if you face any other issues.

[2016-07-12 11:29] #17 closed

[2016-07-12 11:30] manojurfriend opened #18 "Validation error"
When i click to razor pay button it gives some validation error and not going to other page .

no error message is shown
![untitled](https://cloud.githubusercontent.com/assets/20108815/16765518/24b798cc-4852-11e6-97e5-18e612680a95.png)

[2016-07-12 11:31] captn3m0 commented on #18
Can you see if you have any error messages in the console?

[2016-07-12 11:34] manojurfriend commented on #18
GET http://113.193.238.82/testing/razorpay/payment/order?_=1468322990728

400 Bad Request
		2.38s
jquery-....min.js (line 4)
"NetworkError: 400 Bad Request - http://113.193.238.82/testing/razorpay/payment/order?_=1468322990728"

[2016-07-12 11:40] manojurfriend commented on #18
It seems something wrong with th key

i getting an pop up like this after chanign new key and sayting

Oops! Something went wrong.
The api key provided is invalid
![untitled](https://cloud.githubusercontent.com/assets/20108815/16765752/8b37b1f8-4853-11e6-9883-c335562f62f0.png)

[2016-07-12 11:43] captn3m0 commented on #18
Please make sure that your keyId begins with `rzp_test_` or `rzp_live_`. Take a look at https://docs.razorpay.com/v1/page/magento for more details.

[2016-07-12 11:44] manojurfriend commented on #18
Cleared that can you give demo card details??

[2016-07-12 11:45] captn3m0 commented on #18
You can try the following:

    MasterCard: 5555555555554444, 5105105105105100 and Visa: 4111111111111111, 4012888888881881, any CVV, any future expiry

[2016-07-12 11:45] #18 closed

[2016-08-08 07:37] arvind07 commented on #14
Any update for Magento 2.1.0?

[2016-08-09 06:31] 73sl4 commented on #14
@arvind07 We have updated our magento-2.x for Magento 2.1 support.
Can you please try installing the plugin now.

[2016-08-09 06:32] 73sl4 commented on #16
Fixed in #19

[2016-08-09 06:32] #16 closed

[2016-08-09 06:33] 73sl4 commented on #14
Fixed in #20

[2016-08-09 06:33] #14 closed

[2016-09-08 14:02] karthickannan opened #24 "Cart not get cleared"
We are facing this issue in our Magento 1.x environment. Our environment details are as follows:

Magento version - 1.9.2.4
HTTP server - nGinx
OS - CentOS

With a successful test order the customer's cart is not getting cleared.

[2016-09-08 14:05] captn3m0 commented on #24
Can you tell us the following:

1. What is the razorpay plugin version?
2. If you are using a third-party checkout?

[2016-09-08 14:10] karthickannan commented on #24
1) RazorPay version - 1.1.9
2) Yes we have customised the checkout on our own. No third party plug-ins are used

[2016-09-08 15:25] captn3m0 opened #25 "Registered Customer Email is not auto-filled"
Non registered customer email appears in checkout, but the same does not happen if the customer is already registered.

![4690df84ffcc4b0498b91a744d9b9c5d](https://cloud.githubusercontent.com/assets/584253/18355372/821aa7c0-7606-11e6-9ba7-a90ac4f6a8e5.png)

Magento Version: 2.1

[2016-09-15 10:07] karthickannan commented on #24
Is there any update on this?

[2016-11-04 12:08] karthickannan commented on #24
@73sl4 @captn3m0

Is there any update on this? It has been two months since the last comment.

[2016-12-09 09:36] ketanmittal opened #31 "Unable to process the order"
Unable to process the order after Compilation. Our environment details are as follows:

Magento version - 1.9.2.4
HTTP server - nGinx

[2016-12-26 05:59] chayankiit opened #35 "Razorpay webservice in magento soap api"
Razorpay webservice in magento soap api

[2017-01-10 01:07] vigikaran opened #38 "Could not open MAgento component manager after installing this module"
Getting error on Component manager tab

`RuntimeException

File:
/home/rednool/public_html/setup/src/Magento/Setup/Model/PackagesData.php:88
Message:
Couldn't get available versions for package razorpay/magento
Stack trace:
#0 /home/rednool/public_html/setup/src/Magento/Setup/Controller/ComponentGrid.php(98): Magento\Setup\Model\PackagesData->syncPackagesData()
#1 /home/rednool/public_html/vendor/

[2017-01-13 14:52] mayankamencherla commented on #38
We are currently looking into the issue. We will give you a response very shortly.

[2017-01-15 18:57] mayankamencherla commented on #38
Could you download our latest release from here: https://github.com/razorpay/razorpay-magento/releases/tag/1.1.13
See if the issue persists?

[2017-01-16 13:39] mayankamencherla commented on #38
Hi, how did you install razorpay/magento?

[2017-01-16 13:40] mayankamencherla commented on #31
Hi, Can you try getting our latest release and try seeing if the issue persists?

[2017-01-16 13:48] vigikaran commented on #38
Hi i'm using version 2.1 already. this version seems too old

On Mon, Jan 16, 2017 at 1:39 PM, Mayank Amencherla <notifications@github.com

--

*Vigikaran Vijayaratnam* <http://about.me/vigikaran>

<http://stackoverflow.com/story/vigikaran>

[2017-02-18 10:50] mayankamencherla opened #42 "Inventory decrementing on order failure."
This is for Merchant Id: 76FFHOubxc8OqM

Whenever payments fail, the order status is correctly marked as "Cancelled". This is both correct & as expected.

However, the inventory gets decremented and even after the order has been cancelled, the inventory is not released back. This is a very critical issue that needs a fix.

[2017-03-01 18:17] #42 closed

[2017-03-01 18:17] mayankamencherla commented on #42
Issue is closed and PR is merged.

[2017-03-01 18:19] mayankamencherla opened #44 "Verify button from magento."
**Very important:**
For cases in which in which late authorization of payment occurs, merchants are unable to reliably cross check order status. We need to add an option in magento plugin to verify the payment status.

[2017-03-09 09:56] mayankamencherla opened #47 "RazorpayUtils not defined"
Class is not defined for some javascript installations. Need to manually include prototype in checkout.phtml.

This worked in the merchant's browser, need to make this more generic and clean.
[code]

^ needs to be added to `app/design/frontend/base/default/template/razorpay/checkout.phtml` file.

[2017-03-09 09:57] captn3m0 commented on #47
Did we figure out why the layout was not working?

[2017-03-09 09:58] mayankamencherla commented on #47
@captn3m0 Custom theme. Have to dig deeper for this issue. I'll plan this for our next release. Probably next week.

[2017-03-09 10:04] captn3m0 commented on #47
How do we ensure that we are not including it twice?

[2017-05-19 01:23] ccrims0n opened #52 "Allow order edit after completion"

[2017-05-19 11:50] sup077 opened #53 "Got an error at checkout point"
Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in /home/jkbinfot/public_html/jindeal.com/app/code/Razorpay/Magento/Controller/BaseController.php:59 Stack trace: #0 /home/jkbinfot/public_html/jindeal.com/app/code/Razorpay/Magento/Controller/Payment/Order.php(34): Razorpay\Magento\Controller\BaseController->__construct(Object(Magento\Framework\App\Action\Context), Object(Magento\Cus

[2017-05-25 05:58] ccrims0n opened #54 "[Magento2] Razorpay payment method disappearing after applying discount"

[2017-05-25 06:05] pmjcreations commented on #54
Well, I am the victim here 😑

[2017-05-28 08:05] webspeaks commented on #54
It happens with me as well. Is there any solution?

[2017-06-21 11:33] ccrims0n opened #60 "[Magento-2.x] Redirect plugin"

[2017-07-07 12:14] Mayur-Wadpalliwar opened #61 "Unable to make a payment when opted for Multi-shipping address"
**Steps to reproduce:**

- go to Store/Configuration/Sales/MultiShipping Settings/ Allow Shipping to Multiple Addresses = Yes
- Go to Magento site and select a product.
- Go to cart and select "Check Out with Multiple Addresses" and then place order
- As soon we click on "place order" and error will be thrown as **"Warning: hash_equals(): Expected user_string to be a string, null given in ../vendo

[2017-07-07 12:17] Mayur-Wadpalliwar commented on #61
https://razorpay.zendesk.com/agent/tickets/77832

[2017-07-11 13:04] captn3m0 opened #62 "Shift to Razorpay PHP SDK"

[2017-07-28 10:07] mayankamencherla commented on #52
https://github.com/razorpay/razorpay-magento/pull/58

[2017-07-28 10:07] #52 closed

[2017-07-28 10:18] mayankamencherla commented on #53
Hi, @sup077

Could you please share with us the way in which you've installed the magento 2.x plugin?

[2017-07-28 10:19] mayankamencherla commented on #62
@captn3m0 master-1.x?

[2017-07-29 14:14] mayankamencherla commented on #62
https://github.com/razorpay/razorpay-magento/pull/65

[2017-07-31 10:13] mayankamencherla commented on #62
PR merged

[2017-07-31 10:13] #62 closed

[2017-07-31 11:26] mayankamencherla commented on #25
https://github.com/razorpay/razorpay-magento/pull/67

[2017-08-02 11:15] Mayur-Wadpalliwar opened #70 "Unable to create an order from the admin panel of Magento"
Steps to re-produce:

Login to Magento admin panel,
- Go to Sales/Order and create new order

Error:

There was an error capturing the transaction: Warning: hash_equals(): Expected user_string to be a string, null given in /var/www/charmsday/vendor/razorpay/magento/Model/PaymentMethod.php on line 272.

[2017-08-02 11:16] Mayur-Wadpalliwar commented on #70
Ref: https://razorpay.zendesk.com/agent/tickets/84588

[2017-08-04 08:12] ccrims0n opened #74 "Add webhook integration in Magento 2"
https://github.com/razorpay/razorpay-magento/pull/73

[2017-08-04 09:33] mayankamencherla commented on #31
@ketanmittal Hi, can you please update us here?

[2017-08-04 09:45] mayankamencherla commented on #8
https://github.com/razorpay/razorpay-magento/pull/66

[2017-08-04 09:45] #8 closed

[2017-08-04 12:21] mayankamencherla commented on #38
@vigikaran Hi, are you still facing this issue?

[2017-08-04 17:43] mayankamencherla commented on #70
https://github.com/razorpay/razorpay-magento/pull/75

[2017-08-16 07:17] mayankamencherla commented on #70
@ccrims0n Can you please share an update on this? I think we can merge the code.

[2017-08-16 13:09] mayankamencherla opened #77 "Allow merchant option to enable or disable auto invoice feature"
Allow merchant option to enable or disable auto invoice feature upon payment capture

[2017-08-16 13:21] ccrims0n opened #78 "Add support for Magento 2.1"

[2017-08-16 13:21] #78 closed, assigned to mayankamencherla

[2017-08-16 13:23] #25 closed

[2017-08-16 13:34] ccrims0n opened #79 "Add callback url support"
- [x] Magento 1.x
- [ ] Magento 2

[2017-08-16 13:36] ccrims0n opened #80 "Fix amount paid in invoice"

[2017-08-16 13:41] mayankamencherla commented on #13
Solving on email.

[2017-08-16 13:41] #13 closed

[2017-08-16 13:44] mayankamencherla commented on #31
No response - closing

[2017-08-16 13:44] #31 closed

[2017-08-17 09:38] mayankamencherla commented on #24
Tested this on our latest version - cart gets cleared.
Closing issue.

Link to latest release: https://github.com/razorpay/razorpay-magento/releases/tag/1.1.22

[2017-08-17 09:38] #24 closed

[2017-08-17 09:40] mayankamencherla commented on #38
I don't think the issue exists any more - closing.

[2017-08-17 09:40] #38 closed

[2017-08-17 09:48] mayankamencherla commented on #53
The correct way to install the plugin is:

https://docs.razorpay.com/v1/page/magento

[2017-08-17 09:48] #53 closed

[2017-08-17 09:49] mayankamencherla commented on #54
@webspeaks @pmjcreations Can you please share the exact version of your magento set up?

[2017-08-17 10:13] pmjcreations commented on #54
@mayankamencherla, are you still looking for the exact version of the Magento set up?
I see, your question is missing here.

[2017-08-17 10:16] mayankamencherla commented on #54
@pmjcreations Yes, please. Kindly share the exact version. Also if you can share the version of our plugin, and the error message / screen shot, it would be great.

[2017-08-17 10:18] mayankamencherla commented on #77
PR merged

[2017-08-17 10:18] #77 closed, assigned to mayankamencherla

[2017-08-17 10:21] pmjcreations commented on #54
When I created this issue, it was 2.1.5 or 2.1.6. I am not sure.
Currently, it is 2.1.8. Do you want me to run a test?

[2017-08-17 10:30] pmjcreations commented on #54
@mayankamencherla, you will get more information from Razorpay Integrations Reference number 62911
I haven't upgraded the plugin ever since I installed

[2017-08-21 06:48] mayankamencherla commented on #79
Magento 1.x tested and pr created - and the code is merged

[2017-08-30 11:42] Mayur-Wadpalliwar opened #82 "To display Razorpay logo in payment options in Magento"
![screen-ref](https://user-images.githubusercontent.com/28298004/29870664-5a1c641c-8da6-11e7-883a-2d5ab8a9c80c.jpg)

ref: 91012

[2017-08-30 13:00] Mayur-Wadpalliwar commented on #82
<img width="1196" alt="screen shot 2017-08-30 at 6 29 29 pm" src="https://user-images.githubusercontent.com/28298004/29873527-3812be24-8db1-11e7-9a0d-ca26734f6468.png">

[2017-09-21 12:08] Mayur-Wadpalliwar opened #83 "Specify all the pre-requisites in the readme file"
Mention the pre-requisites in the readme like min PHP version and other things required for our plugin to work correctly.

[2017-09-27 10:22] Mayur-Wadpalliwar opened #84 "Class APi not found error while installing magento 1.1.25"
Merchants are facing issues in installing our magento plugin version 1.1.25.

Error: "Fatal error: Class 'Api' not found in /home/bhagyashreesail/public_html/app/code/community/Razorpay/Payments/Helper/Data.php on line 22"

Ref: 99412, 96424

[2017-10-19 09:29] pmjcreations opened #87 "Add support to Magento 2.2"
Magento released Magento Open Source 2.2 three weeks ago. I tried to upgrade my Magento and found an error message due to the Razorpay module. Below is the error details.

[code]

Please fix this as quickly as possible.

[2017-10-25 06:47] #84 closed, assigned to ccrims0n, mayankamencherla

[2017-11-01 21:16] #83 closed, assigned to ccrims0n, mayankamencherla

[2017-11-02 07:29] Mayur-Wadpalliwar opened #90 "Support USD as a base currency"
We need USD support in base currency and should convert in to INR if base_currency is anything other than INR.

Ref: 111023

[2017-11-02 09:00] mayankamencherla commented on #54
@pmjcreations Hi, Can you please share a screen shot of your browser console when you apply discount so that we can debug this further? You just post it here.

[2017-11-02 09:41] mayankamencherla commented on #60
We will be creating a new redirection based plugin instead.

[2017-11-02 10:42] mayankamencherla commented on #82
http://www.waimichael.idv.hk/how-to-add-logo-or-additional-information-to-custom-payment-method-in-magento/

[2017-11-02 11:44] mayankamencherla commented on #80
PR Merged

[2017-11-02 11:44] #80 closed, assigned to mayankamencherla

[2017-11-03 12:14] Mayur-Wadpalliwar opened #92 "Auto-invoicing + email"
To add auto-invoice and email

Ref: 111211

[2017-11-03 13:04] Mayur-Wadpalliwar opened #93 "UI error with magento"
ref: 108097

[2017-11-03 13:54] ccrims0n opened #94 "Add webhook in magento 1.9"

[2017-11-09 17:51] pmjcreations commented on #54
@mayankamencherla, I have reported a critical issue than this. Could you prioritise https://github.com/razorpay/razorpay-magento/issues/87?

[2017-11-09 17:58] ccrims0n commented on #87
@pmjcreations Thank you for reporting this. We will upgrade our plugin to support Magento 2.2 in the next few days.

[2017-11-10 14:38] Mayur-Wadpalliwar opened #96 "Magento 2.2 support"
Need support for Magento 2.2

Ref: 114228

[2017-11-10 20:27] mayankamencherla commented on #96
@Mayur-Wadpalliwar Please add more details to issues. Adding a reference alone is not sufficient. Please add a summary here.

[2017-11-11 15:33] mayankamencherla commented on #93
@Mayur-Wadpalliwar Please add a few more details to the issues.

[2017-11-12 20:09] mayankamencherla opened #97 "Magento 2 redirection plugin"
Add redirection support for magento 2

[2017-11-13 10:30] mayankamencherla commented on #97
Discussed with @ccrims0n , he is taking over.

[2017-11-13 13:01] Jeeva-Rathinam commented on #54
Is Razorpay good choice for Magento?

[2017-11-14 08:44] #96 closed, assigned to mayankamencherla

[2017-11-14 08:45] mayankamencherla commented on #87
Zendesk ticket reference: `114228`

[2017-11-16 07:22] #79 closed, assigned to mayankamencherla

[2017-11-16 07:42] sunnyagg opened #98 "Support for Magento 2.2"

[2017-11-16 07:47] Mayur-Wadpalliwar commented on #87
#98

[2017-11-16 07:47] Mayur-Wadpalliwar commented on #98
#87

[2017-11-16 07:48] #98 closed, assigned to mayankamencherla

[2017-11-16 07:51] Mayur-Wadpalliwar commented on #87
@ccrims0n This needs to be done on priority as we have some big merchants who want this. Could you please provide a timeline?

[2017-11-16 09:32] Mayur-Wadpalliwar commented on #87
Ref: 116512

[2017-11-20 14:51] mayankamencherla commented on #87
@pmjcreations Can you please re-install our plugin using composer? We've released a fix for this. Please let us know if there are any other issues.

cc @Mayur-Wadpalliwar @ccrims0n

[2017-11-20 14:51] #87 closed, assigned to mayankamencherla

[2017-11-20 18:40] pmjcreations commented on #87
Thank you @mayankamencherla. I have upgraded.

[2017-11-22 13:11] Mayur-Wadpalliwar commented on #94
Ref: 118875

[2017-11-22 13:11] Mayur-Wadpalliwar commented on #94
https://github.com/razorpay/razorpay-magento/pull/95

[2017-11-22 21:43] mayankamencherla commented on #60
I have working code for this. Tested. Need to confirm with @ccrims0n before releasing / testing.

[2017-11-28 09:22] mayankamencherla commented on #60
Tested and done cc @ccrims0n
https://github.com/razorpay/razorpay-magento/tree/master-2.x-redirect

[2017-11-29 13:45] mayankamencherla commented on #60
Sent to the customer after testing.

[2017-11-29 13:45] #60 closed

[2017-12-02 20:07] mayankamencherla commented on #82
Able to do this locally. @ccrims0n Let us discuss this once and we can release it.
<img width="1280" alt="screen shot 2017-12-03 at 1 36 47 am" src="https://user-images.githubusercontent.com/18058797/33519323-8e88bba6-d7ca-11e7-84c2-99f2fd09c396.png">

[2017-12-05 09:11] #90 closed, assigned to ccrims0n

[2017-12-07 14:34] mayankamencherla commented on #54
@pmjcreations We have already fixed the issue #87, please confirm if everything is good.

[2017-12-07 17:36] pmjcreations commented on #54
@mayankamencherla this issue is no longer exist.
Current Magento version 2.2.1

Thank you

[2017-12-09 12:03] mayankamencherla opened #102 "USD Base currency bug"
Passing create = true for usd to inr conversion when order is getting created

This bug fixes the following case:
- User opens checkout with `(rzpOrderId1, amount1)` after conversion
- User keeps session alive, and attempts new order with different usd amount
- `verifyOrderAmount` step fails and we proceed to create a new order
- we go over to getOrderAmountInInr with $create = false
- amount stor

[2017-12-11 12:20] mayankamencherla commented on #54
@pmjcreations Does the coupon issue exist in magento 2.2? Because locally I am able to apply a coupon and make a payment. Could you please confirm this?

[2017-12-11 12:36] pmjcreations commented on #54
I made my comment above. The issue is no more. Confirmed with my current (and latest) Magento version 2.2.1

You may close this Issue, or if you need more information, I am available to help you.

[2017-12-11 13:49] mayankamencherla commented on #54
The issue is fixed in magento 2.2. Closing the issue.

[2017-12-11 13:49] #54 closed

[2017-12-11 15:08] mayankamencherla commented on #97
This is done.

[2017-12-11 15:08] #97 closed, assigned to ccrims0n

[2017-12-11 15:09] mayankamencherla commented on #92
Issue not relevant.

[2017-12-11 15:09] #92 closed, assigned to nobody

[2017-12-11 18:18] mayankamencherla commented on #47
Custom Layout - debugging using merchant help.

[2017-12-11 19:45] mayankamencherla commented on #47
@captn3m0 We are including it twice. Will figure out a fix for the future.

[2017-12-12 10:23] mayankamencherla commented on #47
Analysis:

- During the time merchant reported this issue we were using prototype, fixed here: https://github.com/razorpay/razorpay-magento/pull/50
- RazorpayUtils was not defined because merchant's magento set up didn't have prototype installed. We saw this issue later and we fixed it by moving the js file to a regular function
- razorpay-utils.js and checkout.js was incorrectly added to the merc

[2017-12-12 10:23] #47 closed

[2017-12-14 09:41] mayankamencherla opened #104 "Additional checkout.js loaded in checkout.phtml"
Additional checkout.js loaded in checkout.phtml
It is already loaded into the head block in razorpay.xml

[2017-12-15 13:49] mayankamencherla commented on #104
Merged.

[2017-12-15 13:49] #104 closed, assigned to mayankamencherla

[2017-12-18 07:26] mayankamencherla opened #105 "Add Razorpay Payment Id to admin order page"
Add Razorpay Payment Id to admin order page in magento 2.x
- [x] Redirect flow
- [x] Non redirect flow

[2017-12-24 19:41] mayankamencherla commented on #102
Finished testing on browser. Looks good. Merging.

[2017-12-24 19:41] #102 closed, assigned to mayankamencherla

[2017-12-25 06:05] zersys commented on #82
Hi Guys, has this been released, I would like to  do this on my site as well.

[2017-12-25 14:24] mayankamencherla commented on #82
@zersys Not yet. We will release it soon. Thanks for your patience.

[2017-12-27 01:11] mayankamencherla opened #107 "Redirect flow order status"
- Order status flow
1. Pending when created
2. Processing when paid
3. Pending when payment fails

[2017-12-27 01:11] mayankamencherla commented on #107
https://github.com/razorpay/razorpay-magento/tree/master-2.x-redirectflow

[2017-12-27 01:12] mayankamencherla commented on #107
This is fully tested. Shared with customer. Closing issue.

[2017-12-27 01:12] #107 closed, assigned to mayankamencherla

[2018-01-04 11:29] Mayur-Wadpalliwar opened #108 "Need a way to disable auto-invoice generation in Magento 1.x"
Merchant wants to disable auto-invoice generation in Magento 1.x.

Ref: 139827

[2018-01-05 17:32] mayankamencherla commented on #108
Magento 1.x doesn't do auto invoicing.

[2018-01-05 17:32] #108 closed, assigned to mayankamencherla

[2018-03-16 11:17] ghost opened #109 "Magento Quote ID is being used as Razorpay Order ID instead of Magento Order ID"
In Razorpay transactions the field displayed as Order ID is not same as Magento Order ID. I checked the tables and found that Quote ID is being used to display Order ID. This should be changed so that we have one to one mapping with Magento Order ID and Razorpay Order ID for reconciliation.

[2018-03-20 05:59] desire-desire commented on #109
Hi  Razorpay

We are facing the same issue.  Definitely we need a fix for this

[2018-04-10 12:58] alex-embitel opened #110 "collection.js:279 Uncaught TypeError: this.elems is not a function"
After installing this module im getting "collection.js:279 Uncaught TypeError: this.elems is not a function" this error in "/en_US/Magento_Ui/js/lib/core/collection.js:279".

when I switching from checkout shipping method to payment method I'm getting this error.

check the below screenshot for the reference.
![screenshot from 2018-04-10 18 26 31](https://user-images.githubusercontent.com/36266281

[2018-04-10 16:26] Mayur-Wadpalliwar commented on #110
The issue is not due to the Razorpay files.

[2018-04-11 05:14] alex-embitel commented on #110
Okay, Thank you for the response.

But if I disable the Razorpay module, I'm not getting that error.

vendor/razorpay/magento/view/frontend/web/js/view/payment/method-renderer/razorpay-method.js
this js, initObservable function giving an error.

If I comment that function working fine, i couldn't make the order with Razorpay payment method.

[2018-05-01 06:38] nareshphp1 commented on #13
I am getting error "There was an error capturing the transaction. BAD_REQUEST_ERROR: The requested URL was not found on the server."  on checkout page when I select payment method Razorpay while placing order in magento site/store.
![checkout life - google chrome 2018-05-01 12 09 39](https://user-images.githubusercontent.com/14833512/39463969-9ce88440-4d38-11e8-961a-1e4c555143f3.png)

[2018-05-01 06:50] nareshphp1 opened #112 "Getting "BAD_REQUEST_ERROR""
Hi,
I am getting error "There was an error capturing the transaction. BAD_REQUEST_ERROR: The requested URL was not found on the server."  on checkout page when I select payment method Razorpay while placing order in magento site/store.

![checkout life - google chrome 2018-05-01 12 09 39](https://user-images.githubusercontent.com/14833512/39464295-1175e89c-4d3a-11e8-9b49-2bfa77e86af5.png)

[2018-05-14 13:07] mukhund commented on #110
Getting the same issue reported by @alex-embitel when Razorpay module is enabled:

collection.min.js:8 Uncaught TypeError: this.elems is not a function
    at UiClass._updateCollection (collection.min.js:8)
    at UiClass._insert (collection.min.js:8)
    at Registry._resolveRequest (registry.min.js:16)
    at Array.forEach (<anonymous>)
    at Registry._updateRequests (registry.min.js:16)
    at

[2018-05-15 05:26] alvaialex commented on #110
Hi Mukhund,

Try the below on "app/design/frontend/[Pakage]/[theme]/Magento_Razorpay/web/js/view/payment/method-renderer/razorpay-method.js"

Or

directly you can edit the vendor razorpay js also

           `initObservable: function() {
                var self = this._super();

                if(!self.razorpayDataFrameLoaded) {
                    $.getScript("https://checkout.razorpay.com/v1/c

[2018-05-15 06:15] shubhambadkur12 commented on #110
@mukhund  what version of magento are you using ?

[2018-05-16 05:53] mukhund commented on #110
Thanks @alvaialex, your suggestion worked for me as well.

[2018-05-16 15:38] Mayur-Wadpalliwar commented on #112
This was handled over email.

Issue: port was not opened for `https://api.razorpay.com` on `443`

[2018-05-16 15:38] #112 closed, assigned to nobody

[2018-05-26 17:54] shweta2014 opened #114 "How to make refund from admin panel Magento 1.9"
Hello,
How I refund the Online payment through Credit Memo  in admin panel Magento 1.9 .

[2018-05-30 07:47] devuberoi opened #115 "Unable to create orders from Magento 2 Dashboard"
While creating orders from Magento 2's Admin dashboard and selecting razorpay as payment method, it gives error :

**Razorpay Error: Either razorpay_order_id or razorpay_subscription_id must be present**

There is no field to input this value in the order creation form. Please help.

[2018-05-30 10:04] Mayur-Wadpalliwar commented on #115
Hello @devuberoi,

We do not support this at the moment.

[2018-07-23 06:08] brijtz opened #116 "Checkout Address Update Not working for Magento 2 CE v2.1.3"
The extension does not work with Magento 2.1.x ( we are using 2.1.2). We are getting an error as an attached file when we try to update an address while checkout. (Product type: Virtual/Downloadable)
![updateaddress-magedelight-razorpay](https://user-images.githubusercontent.com/22252973/43060059-e34f68de-8e6c-11e8-8917-1c399c51fd40.png)

[2018-07-23 06:50] jpeevi commented on #116
Hello,

We've tested the same from our end, despite the console error, the payment flow was not hindered.
Can you kindly confirm on the same?

[2018-07-23 11:41] nilkanthray opened #117 "Pop Up Issue"
<img width="829" alt="screen shot 2018-07-23 at 2 25 07 pm" src="https://user-images.githubusercontent.com/11885465/43074542-4da18c34-8e9b-11e8-8fbd-527bbfe406a2.png">

Have installed Magento Version 1.9.3.6 but somehow the pop is not coming up for the payment process

Please help

[2018-07-23 11:55] Mayur-Wadpalliwar commented on #117
@nilkanthray We have tested our plugin against the same Magento version you are using and it is working fine for us.

Could you please try re-installing the plugin?

Also, please share the website details so that we could have a look?

[2018-07-23 12:29] nilkanthray commented on #117
Hello Mayur,

The Website is https://www.nutracart.com/ , Could you please recheck once

[2018-07-23 13:20] jpeevi commented on #117
@nilkanthray  we tested your checkout, there's something wrong with how the payment method form gets rendered on your frontend, firstly a form_key is missing the second issue is that  Magento's **savePayment** is returning null on submission. This could be associated with your theme or Magento installation itself.

![mg_render](https://user-images.githubusercontent.com/5638276/43078729-ecb1d51a-8e

[2018-08-17 12:55] NamithaPishe opened #118 "Razorpay payment option not displayed"
Hi,
I just installed the code from the zip "razorpay-magento-1.1.19" on my Magento 1.9.2.4 version. On click of submit on the checkout page, I am directed to a page which says "Please wait, do not refresh your page" and nothing happens. Is there any configuration I am missing. Below is a screenshot of the page I am directed to on submitting the order-

![capture](https://user-images.githubusercont

[2018-09-05 10:05] Aniket10Nov opened #119 "Error on checkout page."
Magento version 2.2.5.
On checkout page getting an error of Uncaught TypeError: this.elems is not a function on collection.js

Because of the error payment method is not change according to the selected billing address.

[2018-09-05 10:11] Aniket10Nov commented on #13
Same error i am getting on checkout.
In addiation - i got
collection.js:237 Uncaught TypeError: this.elems is not a function.
Any solution for this?

[2018-09-05 12:32] Aniket10Nov commented on #116
Yes, Payment method is working. But if you assign different methods to the different country and try to change your billing address then it will not change according to the billing address.
Expected Result:- Payment methods should be changed according to change different change of billing address.
Actual Result:- Payment Method not changed as we changed billing address. If we disable Razor pay fro

[2018-09-06 10:25] jpeevi commented on #119
Hello ,

Can you refer to this thread - https://github.com/razorpay/razorpay-magento/issues/110

[2018-10-15 08:18] monotheist opened #120 "Order not created after successful transaction"
Magento order not captured after successful transaction. Has this been tested with Magneto 2.2.6?

[2018-11-12 06:57] amitverm commented on #74
was this ever implemented? How do I use webhook in Magento 2?

[2018-11-21 07:40] allinvinod opened #122 "Razorpay Error: Curl Error during place order magento 1.9"
Hi All,

I had integrate razorpay payment gateway in magento 1.9

When I click on please order button it is redirect to failure url: https://example.com/staging/index.php/checkout/onepage/failure/

And showing an curl error:
![curl error1](https://user-images.githubusercontent.com/22171945/48826018-38920500-ed8f-11e8-8ccb-e691cac7f1d8.png)

Can anyone suggest how can I fix the issue?

[2018-12-13 07:32] monotheist commented on #120
Closing this as it was conflict with third party extension.

[2018-12-13 07:32] #120 closed, assigned to nobody

[2019-01-20 16:53] nishantgupta1287 opened #123 "Magento 2.3 not compatible"
php7.2 /usr/local/bin/composer require razorpay/magento

Using version ^2.6 for razorpay/magento
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - magento/framework 101.0.7 requires php ~7.0.13|~7.1.0 -> your PHP version (

[2019-01-20 17:09] nishantgupta1287 commented on #123
Please resolve the issue or let me know the steps to resolve it.

[2019-01-24 12:49] nishantraut35 commented on #110
I have created pull request for this issue.
https://github.com/razorpay/razorpay-magento/pull/124

[2019-01-25 05:25] shajuss opened #125 "NOTE support magento 2.3,"
please update new version support Magento 2.3

[2019-01-25 05:26] shajuss commented on #125
after install  admin panel error display

[2019-02-16 10:23] knambiar commented on #123
Could we get an update on this issue?

[2019-02-22 07:14] abhisekhranjan opened #127 "After Installation Razorpay Magento2 Extension Checkout & Cart 500 Internal Server Error"

[2019-02-22 07:16] abhisekhranjan commented on #127
Please look on our website
https://www.6to9shop.com/checkout/

[2019-02-22 08:12] knambiar commented on #123
FYI I spoke to razorpay support and they said it should be available by mid-April

[2019-02-24 19:23] abhisekhranjan commented on #53
Hi I am getting the issues.
Do not run Composer as root/super user! See https://getcomposer.org/root for details
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Killed

[2019-02-24 19:23] abhisekhranjan commented on #53
Another Issue is when i am installing manually .
Cart Page & Checkout Page Stop Working.

[2019-03-01 06:28] iambaljitdhanoa commented on #123
We have fixed razorpay issue in magento 2.3

[2019-03-01 06:28] iambaljitdhanoa commented on #125
We have fixed razorpay issue in magento 2.3

[2019-03-01 06:45] knambiar commented on #123
Hi, where can I see this code?

[2019-03-04 05:21] iambaljitdhanoa commented on #123
we have changes some files on the local server after that its working fine you can easily do it

[2019-03-07 18:05] nishantgupta1287 commented on #123
I am still getting same error while installing it from Composer. Please share the Updated code.

[2019-03-09 19:17] nishantgupta1287 commented on #123
@seherkdc

composer require razorpay/magento
Using version ^2.6 for razorpay/magento
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - magento/framework 101.0.7 requires php ~7.0.13|~7.1.0 -> your PHP version (7.2.15) does

[2019-03-10 06:19] iambaljitdhanoa commented on #123
Hello

You can easily do it we have already done it Magento 2.3

<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=default3&tag=9baa77ad-dcd9-4b6f-b2c5-99d5486baf9e>
I’m
protected online with Avast Free Antivirus. Get it here — it’s free forever.
<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_cam

[2019-03-11 06:16] Madhuri24v opened #137 "checkout page 500 error"

[2019-03-11 06:18] Madhuri24v commented on #137
after installing Razorpay payment checkout page get error 500 how to resolve this?? our project is on live .

[2019-03-21 06:06] sharon-tst opened #138 "BAD_REQUEST_ERROR:The requested URL was not found on the server"
I am try to create a plan in razor-pay using java but i get an error BAD_REQUEST_ERROR:The requested URL was not found on the server. Why  this happen ? Any solution for this ?

[2019-03-21 06:10] sharon-tst opened #139 "How to add redirection_url"
I can create a short_url using Invoice creation in razor-pay using java code . After payment success how can i redirect my site ? How can i add redirection_url ? Any solution for this ?

[2019-03-22 08:12] sgaykhe commented on #125
Hi Seher,
I am still facing problems installing it on my magento 2.3 community version.
my php version is 7.1.27
Can u please help me with the same.

Thanks

[2019-03-22 10:36] sgaykhe commented on #125
Problem 1
    - The requested package magento/framework could not be found in any version, there may be a typo in the package name.

[2019-03-22 10:36] sgaykhe commented on #125
{
    "name": "rzp/magento",
    "description": "Razorpay Magento 2.3 plugin for accepting payments.",
    "require": {
        "php": "~5.5.0|~5.6.0|~7.1",
        "magento/framework": "~100.0||~101.0||~102.0",
        "razorpay/razorpay": "2.*"
    },

[2019-03-25 08:00] sgaykhe commented on #125
hi Seher,
Can u please help

[2019-03-25 08:00] sgaykhe commented on #125
can u please help

[2019-03-25 17:22] bhaskar-c opened #140 "Installing without composer"
Magento Version: 2.2.4

What would be the process for installing the module without composer ?

We have some custom requirements related to order splitting so will have to install the  extension in `app/code` to customize it for our needs.

We installed it in `app/code` but  then Magento complained about absence of `API.php` which I see comes through another folder named `razorpay` when installed

[2019-03-26 01:30] iambaljitdhanoa commented on #125
Hello

Please let me know how can help you ?

<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=default3&tag=9baa77ad-dcd9-4b6f-b2c5-99d5486baf9e>
I’m
protected online with Avast Free Antivirus. Get it here — it’s free forever.
<https://www.avast.com/en-in/recommend?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm

[2019-03-26 09:02] sgaykhe commented on #125
this is the error coming.
- The requested package magento/framework could not be found in any version, there may be a typo in the package name.

[2019-03-28 17:08] #140 closed, assigned to nobody

[2019-05-18 12:59] surmatech opened #142 "No data in $request['paymentMethod']['additional_data']"
Razorpay Error: Notice: Undefined index: rzp_payment_id in /var/www/html/vendor/razorpay/magento/Model/PaymentMethod.php on line 205."

and

Razorpay Error: Notice: Undefined index: rzp_signature in ...

I am using a popular OnePageCheckout plugin and Magento 2.3.1

[2019-05-18 13:00] surmatech commented on #142
{"message":"Razorpay Error: Notice: Undefined index: rzp_payment_id in \/var\/www\/html\/vendor\/razorpay\/magento\/Model\/PaymentMethod.php on line 205.","trace":"#0 \/var\/www\/html\/vendor\/magento\/framework\/Interception\/Interceptor.php(58): Magento\\Checkout\\Model\\GuestPaymentInformationManagement->savePaymentInformationAndPlaceOrder('PhcnRkh1lWvvYJ3...', 'admin@kjskdj.co...', Object(Mage

[2019-05-24 05:16] namratavora commented on #110
Thanks, @alvaialex, your suggestion worked for me too.

[2019-06-12 09:42] pavithra-expedux opened #143 "Magento 2.6 Can't Accept Checkout Agreements Before Routing to razorpay"
When i click pay with razorpay button it should validate terms and condition checked. if it is checked then only it should route to razorpay. But it checking validation after done payment   ![image](https://user-images.githubusercontent.com/44948028/59340794-51123e80-8d24-11e9-8a50-1cf19d24d265.png) .
 For other payment method working good
![image](https://user-images.githubusercontent.com/4494802

[2019-06-26 05:15] harman28 commented on #138
It is likely that you do not have the subscriptions feature enabled on your account, and thus do not have access to the API endpoints. You can request access from the Subscriptions section of your Razorpay dashboard.
You can also use the [razorpay-java](https://github.com/razorpay/razorpay-java) repo to report these issues, or directly use [Razorpay Support](https://razorpay.com/support/)

[2019-06-26 05:15] #138 closed, assigned to nobody

[2019-06-26 05:20] harman28 commented on #139
The short URL is generally not used for redirection, but exists for sharing with the customer. You can do so yourself, or you can use the [sms_notify/email_notify attributes](https://razorpay.com/docs/invoices/api/#create-an-invoice) while creating the invoice, in which case Razorpay will send the notification.

If you find yourself needing to accept payment from the customer directly, without any

[2019-06-26 05:20] #139 closed, assigned to nobody

[2019-06-26 05:27] harman28 commented on #125
Closing this as support for Magento 2.3 was added in [v.2.6.1](https://github.com/razorpay/razorpay-magento/releases/tag/2.6.1).

@sgaykhe Could you open a new issue for the problem you're facing, and add more details for the same? Specifically an error trace would be useful.

[2019-06-26 05:27] #125 closed, assigned to nobody

[2019-06-26 05:28] harman28 commented on #123
Support for Magento 2.3 was added in [v.2.6.1](https://github.com/razorpay/razorpay-magento/releases/tag/2.6.1).

[2019-06-26 05:28] #123 closed, assigned to nobody

[2019-06-26 05:30] harman28 commented on #137
@Madhuri24v Could you add more information about the error you're facing? Feel free to re-open this issue with details about the version of Magento and version of razorpay-magento, as well as a sample of the error message you're getting after installation.

[2019-06-26 05:30] #137 closed, assigned to nobody

[2019-06-26 05:32] harman28 commented on #127
@abhisekhranjan I apologise for the delay in seeing this. Let me know if there's a way I can still see this error and help you debug it.

[2019-06-26 05:32] #127 closed, assigned to nobody

[2019-06-26 05:35] harman28 commented on #110
Keeping this open till #124 is merged.

[2019-06-26 05:36] harman28 commented on #119
Closing as duplicate of #110

[2019-06-26 05:36] #119 closed, assigned to nobody

[2019-06-26 05:38] harman28 commented on #117
Closing due to lack of response. Please do not hesitate to re-open if you are (or anyone else is) still facing this issue.

[2019-06-26 05:38] #117 closed, assigned to nobody

[2019-06-26 05:41] harman28 commented on #94
Closing this. Will not be adding new functionality to Magento 1.x now, fixes only.

[2019-06-26 05:41] #94 closed, assigned to nobody

[2019-06-26 05:43] harman28 commented on #44
Will solve for this via webhooks instead.

[2019-06-26 05:43] #44 closed

[2019-06-26 05:43] harman28 commented on #35
Closing this as requirements are slightly unclear. Please do not hesitate to re-open.

[2019-06-26 05:43] #35 closed

[2019-07-01 06:42] harman28 commented on #110
Fix merged in #124

[2019-07-01 06:42] #110 closed, assigned to nobody

[2019-07-01 09:20] robin-homberg opened #145 "1.1.24 tag is for Magento2"
The version tag 1.1.24 contains a Magento2 version of the module.

[2019-07-02 09:55] vk44295 opened #146 "Rozorpay Magento2 cart & Checkout page not working after installation"
Hi,
I have a website http://styleatwork.in/demo/ and i want to use rozorpay payment gateway for my website. when i installed the the module of rozorpay i will stuck the cart & checkout page. my website based on magento 2.2.6 Can any one check the issue.

Error Ref:
(https://user-images.githubusercontent.com/26023504/60503526-8daad780-9cdd-11e9-9807-38b3d0aeaf28.png)

[2019-07-02 10:36] harman28 commented on #146
@vk44295 The error occurs if your setup doesn't have [razorpay-php](https://github.com/razorpay/razorpay-php/) classes in it.

If you're using composer for installing this plugin, dependencies are handled and this shouldn't occur. How did you install `razorpay-magento`?

[2019-07-02 11:37] vk44295 commented on #146
@harman28  I have installed manually as they provide the link to download and install the same.

[2019-07-02 11:43] harman28 commented on #146
@vk44295, In that case, you'll need to download the dependencies as well. Grab the [latest release of razorpay-php](https://github.com/razorpay/razorpay-php/releases) and follow the installation instructions in the [README](https://github.com/razorpay/razorpay-php/blob/master/README.md), and it should work.

Could you share this link, i.e. let me know where you downloaded this from? Want to check

[2019-07-02 11:51] vk44295 commented on #146
@harman28 Sure I have received below email:

Hi Vikash,

Greetings from Razorpay.
​
Could you please uninstall the existing Magento file and try to install the latest version by using the steps given in the
following link: **https://razorpay.com/docs/ecommerce-plugins/magento/2.x/**
Let us know if you are still facing the issue.

Here to help :)
Giridhar M

The ticket reference for your request is

[2019-07-02 12:32] harman28 commented on #146
@vk44295 Thanks for this. That doc page doesn't make it clear that dependencies need to be addressed if one isn't using composer. I'll get it updated.

[2019-07-02 13:17] vk44295 commented on #146
@harman28  Can you please check if i will provide website credentials.  Currently i have uninstalled razorpay module.

[2019-07-02 13:23] harman28 commented on #146
@vk44295 If you can share error details here, I'll be able to help you out.

For any additional integration support, you can report it via our official [support portal](https://razorpay.com/support/) and get assistance.

[2019-07-03 04:19] vk44295 commented on #146
@harman28  Ok thanks. can you please guide us the steps to install razorpay for magento 2 version.

[2019-07-03 05:09] harman28 commented on #146
@vk44295 The steps on [this page](https://razorpay.com/docs/ecommerce-plugins/magento/2.x/) are correct. I'd also recommend using composer instead of downloading the zip file manually.

[2019-07-05 06:49] vk44295 commented on #146
@harman28 I am unable to install using composer getting error please check it.
http://prntscr.com/oauu4w

[2019-07-05 07:03] harman28 commented on #146
@vk44295 You are pasting the two commands in a single line. Please paste them separately, as they are two separate commands.

[2019-07-05 07:15] vk44295 commented on #146
@harman28  Now i have used separately and getting following error.

http://prntscr.com/oav66i

[2019-07-05 07:17] vk44295 commented on #146
@harman28  My php version:
http://prntscr.com/oav7c7

[2019-07-05 07:25] harman28 commented on #146
@vk44295 Can you share your composer.json file?

[2019-07-05 07:30] vk44295 commented on #146
@harman28 Sure sir

{
    "name": "magento/project-community-edition",
    "description": "eCommerce Platform for Growth (Community Edition)",
    "type": "project",
    "version": "2.2.6",
    "license": [
        "OSL-3.0",
        "AFL-3.0"
    ],
    "require": {
        "magento/product-community-edition": "2.2.6",
        "composer/composer": "@alpha"
    },
    "require-dev": {
        "php

[2019-07-05 09:18] ramth05 commented on #146
@vk44295  Can you please provide us output of  `composer -vvv about`

[2019-07-05 09:33] vk44295 commented on #146
@harman28  Yes sure

http://prntscr.com/oax7rt

[2019-07-05 09:37] ramth05 commented on #146
@vk44295 Can you please try to upgrade your composer setup to use your latest PHP 7.x installation.
This looks like your composer still using PHP 5.6 .

[2019-07-05 09:38] vk44295 commented on #146
@harman28 How can i upgrade i have no idea about that.

[2019-07-05 10:28] harman28 commented on #146
@vk44295  We'll be able to help if you're facing any issues with the razorpay-magento setup. For composer upgrade, could you try seeing if you're able to update it yourself? Any issues you face will be common and fixes easy to find.

If you do still need help, you can report it via our official [support portal](https://razorpay.com/support/) and get assistance. I'd advise you to do this, since it

[2019-07-11 12:29] chitra-bahadur commented on #13
@captn3m0 i am getting bad_request error with message="unauthorized", i am using below url in android with retrofit
i am using test mode. its working in postman.
url: 'https://<YOUR_KEY_ID>:<YOUR_KEY_SECRET>@api.razorpay.com/v1/payments/pay_29QQoUBi66xm2f/capture',
 form: {    amount: 5000  },

[2019-07-11 12:37] captn3m0 commented on #13
Please don't use your secret key in your Android app. Private auth is not meant to be used from public applications.

[2019-07-11 13:51] chitra-bahadur commented on #13
@captn3m0 can you share any link or document how to properly integrate in android app for capturing the payments.

[2019-07-11 14:18] Mayur-Wadpalliwar commented on #13
Steps:
1. Create order at Razorpay from your backend server using the API: https://razorpay.com/docs/api/orders/#create-an-order with payment_capture: 1
2. You would get **razorpay_order_id** as part of the response
3. Pass **razorpay_order_id** to android and invoke checkout along with other options
4. Implement **PaymentResultWithDataListener** to get razorpay_order_id and razorpay_siganture in

[2019-07-12 12:13] sivadasbca opened #149 "RAZ PAY INSTALL PROBLEM"
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: don't install composer/composer 1.8.6
    - Conclusion: don't install composer/composer 1.8.5
    - Conclusion: don't install composer/composer 1.8.4
    - Conclusion: don't install composer/composer 1.8.3
    - Conclusion: don't install composer/composer 1.8.2
    - Conclusion: don't install

[2019-07-15 10:25] ramshankar5july commented on #146
Hi Razorpay Team,

I have installed magento ver 2.3.0 on website https://www.prakratee.com and on this website when I installed extension version 2.7.0. cart page and checkout page is showing error. Kindly see below
"
This page isn’t working
www.prakratee.com is currently unable to handle this request.
HTTP ERROR 500
"
Please fix this issue and my ticket ID is -
Ticket ID - 615736 [Merchant] Techn

[2019-07-16 10:30] shineptm opened #150 "Installing razor pay for Magento 2.1.17"
After installing the razor pay for Magento 2.1.17 with zip file, first I received errors as
Fatal error:  Class 'Razorpay\Magento\Controller\BaseController' not found in /var/www/html/magento216/app/code/Magento/razorpay-magento-2.4.0/Controller/Payment/Order.php on line 9.
I changed the code Razorpay\Magento to Magento\Razorpay as the real folder structure is like that. Then I ran magento upgrade

[2019-07-16 11:39] #150 closed, assigned to nobody

[2019-07-16 11:40] shineptm commented on #150
I re installed the module through composer by specifying the version of the module. Now its working.

[2019-07-22 08:46] harpreet1234567 opened #152 "Extension install issue , API folder is missing"
Hello Support

I am using your Razorpay Payment module. After setup the extension I am not able to use it properly, Because API folder is missing in the  extension and I am getting error that .
No Class found

Can you please check and provide me full code of extension?

Thanks
Harpeet

[2019-07-26 14:23] ramth05 commented on #152
@harpreet1234567,  can you please try, zip install from latest release. The install instruction are also there.

[2019-08-05 08:32] tosswithim commented on #82
Hello,

I am using magento 1.9.3.6 and facing same issues, @mayankamencherla as an biggner unable to fix the issue, which is provided by you in previous [link](http://www.waimichael.idv.hk/how-to-add-logo-or-additional-information-to-custom-payment-method-in-magento/)

Please do the needful

Himanshu

[2019-08-05 12:36] ak1310 commented on #152
Hi Support,
I have installed the Razorpay Magento 2 extension following the documentation provided (https://razorpay.com/docs/ecommerce-plugins/magento/2.x/)
While proceeding to checkout/view cart, the following error occurs
Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found

The ticket reference for my request is #653435.

Thanks
Ankita
![razorpay](https://user-images.githubuserconte

[2019-08-05 12:56] ramth05 commented on #152
@ak1310 , Can you please try "zip" install from the latest release, https://github.com/razorpay/razorpay-magento/releases,
Follow the 'Install through "code.zip" file' steps

[2019-08-06 13:27] ak1310 commented on #152
I've tried your suggested steps but it still doesn't work.

[2019-08-06 13:40] ramth05 commented on #152
@ak1310,   Can you please verify, if the **BaseController.php** file have the below code line present around line no 6.
require_once __DIR__ . "/../../razorpay/razorpay.php";

[2019-08-07 05:33] ak1310 commented on #152
Hi,
Yes the BaseController.php file has the mentioned line.
The code.zip file which I need to use consist of 2 folders namely, razorpay and magento
Can you guide me briefly on the folder structure?

[2019-08-07 05:40] ramth05 commented on #152
@ak1310, The magento folder have all the razorpay magento plugin and razorpay folder have the razor API code. I am not sure, If that line present, how you are getting that error on that line no. 59 should not occur because no, API call present at that line. So please clear you cache and try again.

[2019-08-07 05:50] ak1310 commented on #152
I'll try it once again.

[2019-08-07 11:29] kevinsh25 commented on #152
Followed all above steps. Getting below error

Exception #0 (Magento\Framework\Exception\LocalizedException): Invalid block type: Magento\Checkout\Block\Onepage
Exception #1 (ReflectionException): Class Razorpay\Magento\Model\ConfigProvider does not exist

![image](https://user-images.githubusercontent.com/10228814/62619578-bc4b4c00-b934-11e9-8b6f-c99ea6ee28e3.png)

[2019-08-07 13:00] ramth05 commented on #152
@kevinsh25 , Can you please share the razorpay module DIR structure from your site (screen).

[2019-08-07 17:11] devendrabhandari commented on #90
any update?

[2019-08-08 09:13] kevinsh25 commented on #152
@ramth05 My module directory structure looks like below
![image](https://user-images.githubusercontent.com/10228814/62690748-e52e1880-b9ea-11e9-90ca-f0e522ba7f71.png)

[2019-08-08 09:37] ramth05 commented on #152
@kevinsh25 , It's not listing the files. Can you please explore the files and send it. Another thing, I am trying to access your site and looks like it's very slow.

[2019-08-08 10:28] Akshay-Vasu opened #155 "The extension is not redirecting the user to payment gateway"
We have installed the razorpay extension for our website built on Magento - 1.9.2.0

We have created the secret ID and secret key for test instance, using the razorpay admin panel that was provided to us. And we have added the same in the magento configuration

Once we add the item to the cart and try to check out using the razorpay payment method it is taking us to redirection window with a messa

[2019-08-08 14:04] kevinsh25 commented on #152
Sorry didnt get you what files shall i send. Site is too slow i agree. Still have to optimize it

[2019-08-09 06:18] ramth05 commented on #152
Please list the files under /app/code/razorpay/magento/ folder, same as you sent above in sceen. Another thing can you please provide  the output of  this command you executed.
-- bin/magento setup:upgrade --

[2019-08-09 10:08] ak1310 commented on #152
Hi, I tried reinstalling it now the cart page works but checkout page is blank.
Also it has removed all the Payment Methods from Stores>Configuration>Sales>Payment Methods
![razorpay error](https://user-images.githubusercontent.com/53739469/62771819-b3d14d80-babb-11e9-9a53-e7823f0642d1.jpg)
![razorpay error-2](https://user-images.githubusercontent.com/53739469/62771840-be8be280-babb-11e9-9740-3469

[2019-08-09 11:49] ramth05 commented on #152
@ak1310 , Can you please download the code.zip file again and then try the setup again. This looks like file/folder name case-sensitive in your server. I tried to update the folder name accordingly. Please verify it once again.

[2019-08-09 12:17] kevinsh25 commented on #152
@ramth05 i reinstalled again using updated code above. But still getting same issue as above.

This is my file structure.
![image](https://user-images.githubusercontent.com/10228814/62778243-81305080-bacd-11e9-9cdb-5894c273d375.png)

and on setup:upgrade
![image](https://user-images.githubusercontent.com/10228814/62778311-b341b280-bacd-11e9-9bf7-d641d529ce84.png)

[2019-08-09 12:22] kevinsh25 commented on #152
@ramth05 I had one more live site on 2.3 where razorpay 2.6 was running perfectly but now automatocally throwing below error

![image](https://user-images.githubusercontent.com/10228814/62778565-58f52180-bace-11e9-8496-b71af7409c11.png)

[2019-08-09 12:24] ramth05 commented on #152
@kevinsh25 please uninstall composer version of razorpay.

[2019-08-09 12:28] ramth05 commented on #152
@kevinsh25, If you are able to install through composer, please use the composer to upgrade it.

[2019-08-13 18:50] neethu-sharma opened #156 "After Install the extension, Checkout page error "Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found""

[2019-08-14 03:09] ramth05 commented on #156
@neethu-sharma, how you are installing the it? Can you please try to install from the "code.zip" from the latest release.

[2019-08-14 08:48] ramth05 commented on #155
@Akshay-Vasu, have you tried the latest release, steps to install through magento-connect?
https://github.com/razorpay/razorpay-magento-v1/releases

[2019-08-14 12:43] neethu-sharma commented on #156
I installed version  razorpay-magento 2.7.0
my Magento version 2.3.2

[2019-08-14 12:48] ramth05 commented on #156
@neethu-sharma , how you installed it? by composer? or through SourceCode.zip file ?

[2019-08-14 17:47] neethu-sharma commented on #156
Install   to code.zip  in
https://github.com/razorpay/razorpay-magento/releases

[2019-08-16 04:12] ramth05 commented on #156
@neethu-sharma , Can you please post complete error page screen shot here.

[2019-08-16 07:03] neethu-sharma commented on #156
Yes sure
Here http://prntscr.com/otcwpg

[2019-08-16 07:38] ramth05 commented on #156
@neethu-sharma , can you please clear/clean  the cache and then try out this from terminal
`php bin/magento setup:di:compile`

[2019-08-19 18:26] neethu-sharma commented on #156
Note solve

[2019-08-20 04:00] ramth05 commented on #156
Is it solved?

[2019-08-20 04:06] ramth05 commented on #156
If not, Please attach the output of `php bin/magento setup:di:compile`

[2019-09-16 21:33] tosswithim opened #159 "Razorpay Error: CURL_ERROR: error setting certificate verify locations: 1.9.3.6"
Hello,
Previously  we have successfully received the payment, suddenly found error Razorpay Error: CURL_ERROR: error setting certificate verify locations: CAfile: /home/xxxxx/public_html/includes/src/ca-bundle.crt CApath: none

Can you help me please

[2019-11-05 05:43] chitra-bahadur commented on #13
@captn3m0
getting below error API_SECRET not working which i have provided
Could not resolve host: KEY_SECRET
{"error":{"code":"BAD_REQUEST_ERROR","description":"The api secret provided is invalid"}

[2019-12-07 19:58] monotheist opened #166 "Order and Order ID not being generated"
In few random cases neither magento order is being generated nor razaorpay order ID post transaction. Attached image there is one such transaction with no order ID. I am using your latest build with Magento 2.3.3.
![Screenshot 2019-12-08 at 1 18 36 AM](https://user-images.githubusercontent.com/16968205/70379953-fddb1a80-1959-11ea-9bd5-5e07c318dc75.jpg)

[2019-12-08 09:20] gopal2k6 opened #167 "Issue Find Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in"
Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in /home/customer/www/*****/public_html/app/code/Razorpay/Magento/Controller/BaseController.php:59 Stack trace: #0 /home/customer/www/******/public_html/app/code/Razorpay/Magento/Controller/Payment/Order.php(34): Razorpay\Magento\Controller\BaseController->__construct(Object(Magento\Framework\App\Action\Context), Object(Magento\Custom

[2019-12-08 11:41] gopal2k6 commented on #156
I am also facing same issue.

Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in /home/customer/www/public_html/app/code/Razorpay/Magento/Controller/BaseController.php:59 Stack trace: #0 /home/customer/www/public_html/app/code/Razorpay/Magento/Controller/Payment/Order.php(34): Razorpay\Magento\Controller\BaseController->__construct(Object(Magento\Framework\App\Action\Context), Obje

[2019-12-08 12:22] ramth05 commented on #156
@gopal2k6, which version of plugin you are using and what method you are using to install it?

[2019-12-08 12:38] ramth05 commented on #166
@ethniccode, As you mentioned it's happening randomly. We will try to replicate it our end and lets try to fix it. It will be good if you can help us to provide some specific case when it's happening it will good for us to replicate it at our end.

[2019-12-08 13:24] ramth05 commented on #167
@gopal2k6, which version of plugin you are using and what method you are using to install it?

[2019-12-08 13:25] monotheist commented on #166
@ramth05 It will be hard for us to replicate because we do not know what kind of user behaviour caused this. But it is happening in production and this is not the first time. I have reported this issued to razorpay support earlier couple of months ago but they were of no help. Customers will abandon razorpay if these issues are not taken seriously.

[2019-12-08 13:47] gopal2k6 commented on #167
My Magento Version - 2.3.3
ANd
I am using the latest File - 2.8.1

[2019-12-08 13:51] ramth05 commented on #167
@gopal2k6 , There are two ways to install it composer and zip ? which method you are using to install it?

[2019-12-08 13:51] gopal2k6 commented on #156
My Magento Version - 2.3.3
ANd
I am using the latest File - 2.8.1

[2019-12-08 13:52] gopal2k6 commented on #156
I am using code Code-based.

http://prntscr.com/q7vemu

Regards
Gopal Gautam

[2019-12-08 13:52] gopal2k6 commented on #156
Zip file based

[2019-12-08 13:53] gopal2k6 commented on #167
Zip file based

[2019-12-08 14:02] ramth05 commented on #167
@gopal2k6, can you please check if your installation `Razorpay/Magento/Controller/BaseController.php` contains this line at line no. 6 `require_once __DIR__ . "/../../Razorpay/Razorpay.php";`

If yes, can you please clear/clean the cache and then try out this from terminal
`php bin/magento setup:di:compile`

[2019-12-08 14:13] gopal2k6 commented on #167
Yes After add this line . working fine.

Current code on Razorpay/Magento/Controller/BaseController.php

namespace Razorpay\Magento\Controller;

use Razorpay\Api\Api;
use Razorpay\Magento\Model\Config;
use Magento\Framework\App\RequestInterface;
**require_once __DIR__ . "/../../Razorpay/Razorpay.php";**

Regards
Gopal Gautam

[2019-12-08 14:14] gopal2k6 commented on #167
Thanks for quick help.

[2019-12-08 14:15] ramth05 commented on #167
@gopal2k6 , as per attached zip file, this line already present in code base. So looks like you are not using proper setup file.

[2019-12-08 14:15] gopal2k6 commented on #156
Yes After add this line . working fine.

Current code on Razorpay/Magento/Controller/BaseController.php

namespace Razorpay\Magento\Controller;

use Razorpay\Api\Api;
use Razorpay\Magento\Model\Config;
use Magento\Framework\App\RequestInterface;
require_once DIR . "/../../Razorpay/Razorpay.php";

Regards
Gopal Gautam

[2019-12-08 14:17] gopal2k6 commented on #167
http://prntscr.com/q7vn6z Nothing there kindly updates codebase.

[2019-12-08 14:22] gopal2k6 commented on #167
https://github.com/razorpay/razorpay-magento/releases/tag/2.8.1 update code here

[2019-12-08 14:22] #167 closed, assigned to nobody

[2019-12-08 14:22] ramth05 commented on #167
@gopal2k6 , please use `code.zip` file from the release base.

[2019-12-10 08:02] thomaspall commented on #166
We are also facing this issue with magento 2.3.1. Any solution or workaround till you guys release a fix for this?

[2019-12-19 10:52] ramth05 commented on #156
duplicate #167

[2019-12-19 10:52] #156 closed, assigned to nobody

[2019-12-20 19:56] ashksin121 commented on #112
Can you please elaborate on the matter as I'm new to the feature

[2020-01-03 14:55] JainSoftware opened #169 "Undefined Index Undefined index: additional_data in /Razorpay/Magento/Model/PaymentMethod.php on line 205"
Undefined Index Undefined index: additional_data in /Razorpay/Magento/Model/PaymentMethod.php on line 205 .

It's coming in flutter built app using  razorpay in dev mod

[2020-01-17 08:07] iprabhakar commented on #166
Facing the same issue with Magento 2.3.1. Also raised ticket "Ticket ID - 1819730". Still not get any appropriate answer from the Team.

[2020-01-17 10:40] ramth05 commented on #166
@iprabhakar, if you are using 'ZIP' based installation you can try out this pre-release in your test site. https://github.com/razorpay/razorpay-magento/releases/tag/2.9.0 . We are in testing phase of this solution and will release it soon.

[2020-01-18 03:18] monotheist commented on #166
@ramth05 Should I be creating webhooks after upgrading to this release? What would be the webhook URL for magento 2.3.3? Do i just enter my site URL like this `https://www.example.com`
And should I leave secret key field empty? Please clarify

[2020-01-18 05:39] iprabhakar commented on #166
@ramth05 , I  have installed using composer and these issues I am facing on my live site and my customers are reporting about these issue.
Installing the zip will not solve my issue unless you guys are assure that the issue is resolved.

[2020-01-20 05:50] ramth05 commented on #166
@monotheist , After installation of new version of plugin 2.9.0 , the webhook url can be copied from the backend under plugin settings.

[2020-01-20 05:52] ramth05 commented on #166
@iprabhakar , We have released new version of plugin 2.9.0, you can install it using composer now as well. But before deploying it on live site please verify it in test/clone site.

[2020-01-20 09:31] arulkec opened #171 "PHP Fatal error:  Interface 'Magento\Framework\App\CsrfAwareActionInterface' not found in Magento 2.2.7?"
PHP Fatal error:  Interface 'Magento\Framework\App\CsrfAwareActionInterface' not found in /var/www/Magento/app/code/Razorpay/Magento/Controller/Payment/Webhook.php on line 13
**Magento 2.2.7**

[2020-02-01 05:13] monotheist commented on #166
While doing that I see the panel is asking for secret key. Should I skip that or what should I enter?

[2020-02-03 05:07] ramth05 commented on #166
@monotheist , You need to setup in Razorpay dashboard , while setting it will ask you to set the secret. Same secret need to used in Magento > 2.3.0 settings as well.

[2020-02-03 05:16] monotheist commented on #166
@ramth05 Is that optional or mandatory? At the moment I have left it empty.

[2020-02-03 06:59] ramth05 commented on #171
@arulkec , Can you please try to test new release 2.9.1

[2020-02-03 07:02] ramth05 commented on #166
@monotheist , It's mandatory to set the webhook secret while setting the webhook in razorpay dashboard.

[2020-02-03 07:21] monotheist commented on #166
@ramth05 Okay. So this could be any password set by me. Not generated by Razorpay or something?

[2020-02-03 07:30] ramth05 commented on #166
@monotheist , yes it's only you, who should know this secret.

[2020-02-14 09:38] iprabhakar commented on #166
@ramth05 I have updated the Razorpay version currently using 2.9.1 but still facing same issue, getting orders in Razorpay Dashboard having no orderID and for those customers, no order is showing in Magento (2.3.1) also.

[2020-02-14 09:55] iprabhakar commented on #166
@ramth05 As my customers are complaining that they got an email from Razorpay for the payment but there is no transaction is showing in the Razorpay dashboard nor in Magento Dashboard.

[2020-02-14 10:16] ramth05 commented on #166
@iprabhakar , can you please provide transaction ID (razorpay payment id) to get more info?
Have you configured webhook in razorpay dashboard? what it your site url?

[2020-02-14 10:37] iprabhakar commented on #166
Please check this PaymentId and Razorpay order ID. Can you please share the
webhook integration processes with Magento 2.3

[image: image.png]

On Fri, Feb 14, 2020 at 3:46 PM Ram Prakash Singh <notifications@github.com>
wrote:

--
Thanks & Regards
Prabhakar Singh
Mobile: 7838433034

[2020-02-14 10:49] ramth05 commented on #166
@iprabhakar, unable to view attached image and without razorpay transaction id, we can't debug this issue.

[2020-02-14 11:05] iprabhakar commented on #166
Check this
![image](https://user-images.githubusercontent.com/24561107/74525769-f03ca500-4f47-11ea-982a-06a77288ebf1.png)

[2020-02-14 11:17] ramth05 commented on #166
@iprabhakar , by looking this image its looks like copied from razorpay dashboard only, but you mentioned transaction not listing in razorpay dashboard.
To fix magento order not listing in razorpay dashboard , you need to configure webhook in razorpay dashboard.

[2020-02-19 08:54] ramth05 commented on #166
@iprabhakar , have you configured webhook in razorpay dashboard ?

[2020-02-19 09:02] iprabhakar commented on #166
Yes, I did that. But still getting the same issue.

On Wed, Feb 19, 2020 at 2:24 PM Ram Prakash Singh <notifications@github.com>
wrote:

--
Thanks & Regards
Prabhakar Singh
Mobile: 7838433034

[2020-02-19 09:22] ramth05 commented on #166
@iprabhakar , Please verify the if its active, 'order.paid' event selected and secret field is set, same secret need to set in magento razorpay settings.

[2020-02-19 09:25] iprabhakar commented on #166
Yes, already done.

[image: image.png]

On Wed, Feb 19, 2020 at 2:52 PM Ram Prakash Singh <notifications@github.com>
wrote:

--
Thanks & Regards
Prabhakar Singh
Mobile: 7838433034

[2020-02-19 09:29] ramth05 commented on #166
@iprabhakar, as we checked your webhook details set in razorpay dashboard, secret field not set. Please set it and update same in magento.

[2020-02-19 09:45] iprabhakar commented on #166
Done. Let's hope it will resolve the issue.

On Wed, Feb 19, 2020 at 2:59 PM Ram Prakash Singh <notifications@github.com>
wrote:

--
Thanks & Regards
Prabhakar Singh
Mobile: 7838433034

[2020-02-19 11:20] ramth05 commented on #166
@iprabhakar , Currently your webhook start firing. But the webhook url "https://evolvesnacks.com/razorpay/payment/webhook" for **POST** method not working and throwing 404 error, which is strange. Is it possible for you to check this. Or if you can create clone of your site and share the details with us to debug this issue.

[2020-02-19 11:53] iprabhakar commented on #166
Okay, can you check now?

[2020-02-19 13:31] ramth05 commented on #166
@iprabhakar, I apologise here, there was a minor bug because of that the release **2.9.1 webhook** support only works for **Magento < 2.3.0**. We have just released **2.9.2**, please update it in your store.
Note: There is no need to do any update in razorpay dashboard webhook settings.

[2020-02-20 07:19] iprabhakar commented on #166
@ramth05 : updated the Razorpay extension to 2.9.2. Can you please check and confirm the webhook is working fine or not.

[2020-02-21 07:49] ramth05 commented on #166
@iprabhakar, I checked one of payment "pay_EIvEXysJgdMoZT" (with email: reetika.dasgupta@gmail.com), webhook and looks like its failing because of below error :
"**Please check the shipping address information. &quot;telephone&quot; is required. Enter and try again.**" ,
Can you please check if you can disable this constraint in your site or force user to fill it before order placement.

[2020-02-27 07:20] painal opened #174 "Razorpay payment gateway popup not open but order proceed in magento2 checkout page."
when i am using Razorpay and proceed order via razorpay popup for entering card and UPI not open but redirect to order success page.

[2020-03-01 05:05] ramth05 commented on #174
@painal , can you please provide more details about this issue. Please share the site url where you testing it as well.

[2020-04-18 08:48] sodhanii commented on #169
Hey, were you able to find a fix?

[2020-04-22 04:38] ramth05 commented on #169
@sodhanii , @JainSoftware , we are currently only support web/mobile browsers based magento instance.

[2020-04-22 06:06] sodhanii commented on #169
Is there anyway you can work on the API instance?

Best regards,
Aditya

On Tue, Apr 21, 2020 at 11:38 PM Ram Prakash Singh <notifications@github.com>
wrote:

[2020-05-06 10:06] ramth05 commented on #74
Already implemented "order.paid" webhook in latest releases.

[2020-05-06 10:06] #74 closed

[2020-05-06 10:10] ramth05 commented on #82
Already supported.

[2020-05-06 10:10] #82 closed, assigned to ccrims0n, mayankamencherla

[2020-05-06 10:11] ramth05 commented on #109
Already supported in latest releases.

[2020-05-06 10:11] #109 closed, assigned to nobody

[2020-05-06 10:17] ramth05 commented on #116
Already fixed in latest releases.

[2020-05-06 10:17] #116 closed, assigned to nobody

[2020-05-06 10:19] ramth05 commented on #114
New featured only gets added for Magento 2.x. Still we don't have refund feature, but closing this as related to Magento 1.x

[2020-05-06 10:19] #114 closed, assigned to nobody

[2020-05-06 10:21] ramth05 commented on #149
We already have composer install for Mageno 2.x, The above issue related to server where site hosted.

[2020-05-06 10:21] #149 closed, assigned to nobody

[2020-05-06 10:23] ramth05 commented on #159
Please try to use latest release from here https://github.com/razorpay/razorpay-magento-v1/releases/tag/1.2.0

[2020-05-06 10:23] #159 closed, assigned to nobody

[2020-05-06 10:24] ramth05 commented on #118
@NamithaPishe, please try to use latest release from here in case of Magento 1.x
https://github.com/razorpay/razorpay-magento-v1/releases/tag/1.2.0
Magento 2.x
https://github.com/razorpay/razorpay-magento/releases/tag/2.9.2

[2020-05-06 10:24] #118 closed, assigned to nobody

[2020-05-06 10:26] ramth05 commented on #122
@allinvinod can you please try to install latest release from here in case of Magento 1.x
https://github.com/razorpay/razorpay-magento-v1/releases/tag/1.2.0
Magento 2.x
https://github.com/razorpay/razorpay-magento/releases/tag/2.9.2

[2020-05-06 10:26] #122 closed, assigned to nobody

[2020-05-06 10:27] ramth05 commented on #143
Already fixed in latest releases.

[2020-05-06 10:27] #143 closed, assigned to nobody

[2020-05-06 10:30] ramth05 commented on #145
Yes.

[2020-05-06 10:30] #145 closed, assigned to nobody

[2020-05-06 10:32] ramth05 commented on #142
This plugin supports all the basic theme based plugins. Please try latest one.

[2020-05-06 10:32] #142 closed, assigned to nobody

[2020-05-06 10:34] ramth05 commented on #93
Already fixed in latest releases.

[2020-05-06 10:34] #93 closed, assigned to mayankamencherla

[2020-05-06 10:36] ramth05 commented on #146
@ramshankar5july , can you please try latest release from here https://github.com/razorpay/razorpay-magento/releases/tag/2.9.2

[2020-05-06 10:36] #146 closed, assigned to nobody

[2020-05-06 10:39] ramth05 commented on #152
Closing as no conversation and issue related with composer need to be solved by hosting.

[2020-05-06 10:39] #152 closed, assigned to nobody

[2020-05-06 10:40] ramth05 commented on #155
Closing now.

[2020-05-06 10:40] #155 closed, assigned to nobody

[2020-05-06 10:41] ramth05 commented on #166
@iprabhakar, closing this issue as webhook support already added in latest release.

[2020-05-06 10:41] #166 closed, assigned to nobody

[2020-05-06 10:43] ramth05 commented on #169
@JainSoftware , we are working on mobile APP based browser supports and may be it solve this issue, will update soon with new release.

[2020-05-06 10:44] ramth05 commented on #171
Already fixed in latest release.

[2020-05-06 10:44] #171 closed, assigned to nobody

[2020-05-06 10:45] ramth05 commented on #174
@painal , please update if you are still facing this issue with latest release or we will close this issue in some days.

[2020-05-06 10:48] ramth05 commented on #105
It's already displaying in order view page.

[2020-05-06 10:48] #105 closed, assigned to nobody

[2020-05-18 13:22] gopal2k6 commented on #166
Dear Ram,

I installed 2.9.2 version but still  I am also facing same kind of issue.

We are facing 4-5 order daily same issue.

Regards
Gopal Gautam

[2020-05-18 14:14] gopal2k6 commented on #166
How i can recover all this transaction to generate Order id please do neeedful

![image](https://user-images.githubusercontent.com/8761354/82223193-fa53b280-993f-11ea-8f03-4ea81772f898.png)

[2020-05-18 14:19] ramth05 commented on #166
@gopal2k6 , Have you setup webhook on razorpay dashboard?

[2020-05-18 14:20] gopal2k6 commented on #166
Yes I setup

[2020-05-18 14:22] ramth05 commented on #166
it's not getting triggered.

[2020-05-18 14:23] gopal2k6 commented on #166
?

[2020-05-18 14:23] gopal2k6 commented on #166
showing "Razorpay Webhook processing started." in log files

[2020-05-18 14:24] gopal2k6 commented on #166
but not completed

[2020-05-18 14:27] gopal2k6 commented on #166
Is that possible can i recover this transaction and generate Order  Id in My system.  This is Old transaction before setup Webhook.

[2020-05-18 14:27] gopal2k6 commented on #166
All are Live Mode Transaction.

[2020-05-18 14:30] ramth05 commented on #166
No.

[2020-05-18 14:31] gopal2k6 commented on #166
I means this is not refunded to customer  Right now.  Currently in Authorised Mode.

[2020-05-18 14:32] gopal2k6 commented on #166
Webhook are worked on Authorised Mode?

[2020-05-18 18:56] iambaljitdhanoa commented on #166
We are using same code but payment status Authorised not displayed captured please let me know how can captured status

[2020-05-19 03:14] ramth05 commented on #166
Yes, but you need to capture the payment manually.

[2020-05-19 03:17] gopal2k6 commented on #166
Yes I can Capture But I don't have information about Customer Order.

[2020-05-19 03:17] ramth05 commented on #166
There is an option to in magento admin under razorpay plugins settings "Payment Action". Set it as  "Authorize and Capture".

[2020-05-19 03:20] gopal2k6 commented on #166
I Know but if order id Not captured by Payment Gateway then why i gave Razerpay Fee. If i capture no option to refund Razer Pay fee. We are losing business and Razerpay also losing Commission Fee.

[2020-05-19 03:22] ramth05 commented on #166
@gopal2k6, After setting proper webhook "order.paid", you can try to Capture one payment. It should  create missing order in backend. But as it's older order so only try if your webhook working properly.

To resolve this issue only webhook introduced.

[2020-05-19 03:24] gopal2k6 commented on #166
Can i do for one order? if i capture then you can check from your end?

[2020-05-19 03:25] gopal2k6 commented on #166
pay_EqcBzEN2SLAVa9 | order_EqcAygs0TvZ9lv
-- | --

[2020-05-19 03:26] gopal2k6 commented on #166
I am capture this payment

[2020-05-19 03:35] gopal2k6 commented on #166
Yes it works. But One order webhook not generated

pay_EqImuQDH7LKdKM | order_EqImjAwPWqdh5e
-- | --

Can you verify from your end ?

[2020-05-19 03:35] ramth05 commented on #166
@gopal2k6, The webhook triggered from razorpay end for this, you can check your logs and update me at 'ram.techchef@razorpay.com`

[2020-05-19 03:40] ramth05 commented on #166
@gopal2k6 , there is new release of plugin '2.9.3', can you please update it. There is some duplicate order issue in some cases and we tried to fix in this release.

for this payment **pay_EqImuQDH7LKdKM** webhook triggered at razorpay side.

[2020-05-19 03:42] gopal2k6 commented on #166
But Order not generated In Magento Admin .. What should i do for now

[2020-05-19 03:48] gopal2k6 commented on #166
is there any manual process to recover this order?

[2020-05-19 03:52] gopal2k6 commented on #166
![image](https://user-images.githubusercontent.com/8761354/82282746-36276000-99b2-11ea-9328-95395a38b856.png)
this is log for this order.

[2020-05-19 04:02] ramth05 commented on #166
These are validation at magento side and some from razorpay plugins. It looks like the order already exist for this, for your reference to debug it, please check if which order in place for this quote-id "56428" in your system. you can check it from DB as well.

[2020-05-21 03:40] gopal2k6 opened #178 "Webhook Issue on 2.9.3"
Dear Team,

We received No order id WHile Trigger Capture Payment. We found some Bug in Log files. Kindly review. Screenshot Attached

[2020-05-20 20:09:06] main.WARNING: Razorpay Webhook processing started. [] []
[2020-05-20 20:09:06] main.WARNING: Razorpay Webhook processing started for Razorpay payment_id(:pay_EsdeEVx12emycF) [] []
[2020-05-20 20:09:08] main.ERROR: Please check the billing addr

[2020-05-21 03:45] ramth05 commented on #178
@gopal2k6 , Can you please provide replication steps for this one.

[2020-05-21 03:48] gopal2k6 commented on #178
I just capture Payment from Razerpay dashboard and we did not get order id. Due to issue.. I already shared Log files.

[2020-05-21 03:50] ramth05 commented on #178
Is this happening for all of your orders? or specific case

[2020-05-21 03:53] gopal2k6 commented on #178
After Update extension one Transaction was missing.  So I tried to capture payment and No Order Fetch.

[2020-05-21 03:55] gopal2k6 commented on #178
But i want to know why Order id Not generated Randomly.  Did you find any issue in Current extension ? We found daily 1-2 Transaction.

[2020-05-21 04:03] ramth05 commented on #178
There are reason of connection/internet on client browser got disconnected as he finished payment and before order get updated by magento/site. So to handle this webhooks comes in picture.  But not sure if your all webhooks failing because of this or just some cases?

[2020-05-21 04:05] gopal2k6 commented on #178
I will wait  for new Payment for this situation. When comes i will let you know.

[2020-05-21 11:38] dipakk2590 commented on #178
Hello, I am having the same issue tried installing the latest version extension as well ....still no order ID or Order details found in dashboard nor in database. but payments processed succesfully and customers amount got debited..i have seen this issue with 3 payments which was done through Razorpay only...all other payment options are working fine and showing order details. Please help with the

[2020-05-21 11:40] dipakk2590 opened #179 "Payments Processed But Orders not Placed on Magento 2.3.5 Store"
Hello,

I am having this strange issue of Razorpay Payment Option.
Customer adds orders to checkout and payments gets processed , amount debited and confirmation from bank also received but order not placed or not showing in GRID as well as Payments Dashboard there are no Order ID found...this Missing order ID is Occupied by this GHOST order which is not placed but paid fully by customers.

Kindly

[2020-05-21 11:47] ramth05 commented on #178
@dipakk2590, Can you please share logs of webhooks from your systems for the related payments and related orderId's on dashboard.

[2020-05-21 12:45] dipakk2590 commented on #178
Hello,

We are not using webhook insted the payment gateway extension is configured on the store to process online method of domestic payments.
have checked all the logs i dint find anything related razorpay in exceptions,debug nor in system logs . only thing was there the extension is depriciated hens i had update the same to latest release on github and the problem is still there.
there are no o

[2020-05-21 12:47] ramth05 commented on #178
@dipakk2590 , Please setup webhook to fix this issue.

[2020-06-08 16:09] offineeds commented on #179
I am also facing the same issue in Magento 2.2.6 from couple of days.

[2020-06-09 02:57] ramth05 commented on #179
@dipakk2590 , @offineeds , which version of plugin you people using currently? and have you started using web-hook?

[2020-06-09 16:44] anuprasadkummali commented on #179
Same when trying with magento 2.3.4

Test mode, after clicking success. it fails

[2020-06-09 16:37:24] main.CRITICAL: No such entity with orderId =  {"exception":"[object] (Magento\\Framework\\Exception\\NoSuchEntityException(code: 0): No such entity with orderId =  at /opt/magento/public_html/vendor/magento/framework/Exception/NoSuchEntityException.php:50)"} []

From browser logs.

(index):1 Fai

[2020-06-09 17:19] offineeds commented on #179
Razorpay 2.9.2 and yes am using Webhook.

[2020-06-10 04:23] ramth05 commented on #179
Can you please upgrade it to 2.9.3 and let us know, if still not working. Please provide us credentials of your clone site to look this issue.

[2020-06-10 05:17] offineeds commented on #179
I had installed older Razorpay through composer, can you guide me how to upgrade it to 2.9.3?

[2020-06-10 05:57] ramth05 commented on #179
@offineeds , you can remove razorpay by "composer remove [package]" then again install it

[2020-06-10 08:42] offineeds commented on #179
We can't do in live website, there's no way to upgrade existing module through composer?

[2020-06-10 08:50] ramth05 commented on #179
you can try `composer update [pakage]`

[2020-06-12 01:06] gopal2k6 commented on #178
Is there any option to change  Flash Checkout popup    to redirect Checkout like other payment gateway did? We are are still getting No Order ID generated after webhook . This payment gateway are going to  Headache for me. Still i can get Pending order who have any issue. Jo i do manual process where missed this transaction..

[2020-06-12 01:07] gopal2k6 commented on #178
We are getting Some Price Mismatch issue?

pay_F1Mdgr3Y4qk511 | order_F1MdWRcBn7rBzQ

[2020-06-12 01:07] gopal2k6 commented on #178
please provide good solution otherwise i will change Payment gateway..

[2020-06-12 01:09] gopal2k6 commented on #178
https://razorpay.com/docs/payment-gateway/web-integration/hosted/

Some thing like this  But   i want to know this is integrated in Current Magento Extension.

[2020-06-12 03:20] ramth05 commented on #178
@gopal2k6 , We are already in testing phase of this feature and let you know when new release available.

[2020-06-12 09:36] iambaljitdhanoa commented on #179
Hello

We have placed an order but Razorpay transaction Captured but Magento 2.3.0 not placed order.we are using the latest Razorpay extension with using webhook. please let me know how can trigger

[2020-06-12 09:39] ramth05 commented on #179
@iambaljitdhanoa , in magento admin setting of razorpay, it's listing the webhook url you need to set on razorpay dashboard settings, set same secret both the places and event as "order.paid"

[2020-06-12 12:55] gopal2k6 commented on #178
Is that any option convert quote will convert as a pending Order .. Please provide some patch because we are losing 10k order daily.. woohook also not worked properly ....

[2020-06-12 13:14] ramth05 commented on #178
@gopal2k6 , don't understand requirements here

[2020-06-12 13:18] gopal2k6 commented on #178
is that Option if popup generate then Automatically pending order created in sales Order with Pending status.  after Success Payment  You can change status Processing... Right now System Created Order after successfully payment..

[2020-06-12 13:27] gopal2k6 commented on #178
Hope you understand my requirement... This feature we can validate Order which is Missed from Customer.. Right now Unable to find where is customer Order....

[2020-06-13 10:16] iambaljitdhanoa commented on #179
@ramth05 hello Sir

We have used same webhook but displaying error log in razorpay.wc.signature.verify_failed  please let me know how can fix it

[2020-06-13 12:55] gopal2k6 commented on #178
Any update?????????????????????????????????????

[2020-06-14 01:50] ramth05 commented on #179
@iambaljitdhanoa, Please use same "secret" in both the places, in magento settings and razorpay dashboard webhook settings.

[2020-06-14 03:48] iambaljitdhanoa commented on #179
@rabia1305 thank you for a quick reply we have added same api secret key copy to webhook secret key  as well as added same Razorpay dashboard please suggest

[2020-06-14 12:31] sagardoshi08 commented on #179
Hello Razorpay,

I am phasing the same issue as @dipakk2590. FYI i am using the latest version of Razorpay extension and setup the correct Webhook.

Issue:

I am having this strange issue of Razorpay Payment Option.
Customer adds orders to checkout and payments gets processed , amount debited and confirmation from bank also received but order not placed or not showing in GRID as well as Payments D

[2020-06-15 09:29] ramth05 commented on #178
@gopal2k6 , there are other issue when using this approach, like in case of fail payment the cart get empty and user experience will not be good.

[2020-06-15 09:36] gopal2k6 commented on #178
But Ccavenue do  Great job on this, THey Restored Cart if Payment Failed..

[2020-06-15 09:43] gopal2k6 commented on #178
Please  Do testing  on Rightway.. Many Customer facing same issue. this is not good for your team and company too.

[2020-06-29 11:42] ramth05 commented on #178
@gopal2k6 , do you have any test/ clone site for testing, where we can check this issue?

[2020-07-04 09:57] apoorvnag commented on #112
I am facing the same issue. What should I do to fix this?

API Endpoint: https://api.razorpay.com/v1/payouts

The response is always shown as BAD_REQUEST_ERROR{ "error": { "code": "BAD_REQUEST_ERROR", "description": "The requested URL was not found on the server.", "source": null, "step": null, "reason": null, "metadata": {} }}

[2020-07-06 04:31] dineshprima commented on #179
Hi Team ,

We have same issue in magento 2.2.4 & razorpay extension version is 2.9.3 . We are facing the same problem from last one week time.

When i observed the webhook code that is written by razorpay. they are creating customer accounts for guest orders as well. In that case some of the guest users will use same email as one of the customer already using. In that case we are getting error.

W

[2020-07-06 04:35] ramth05 commented on #179
@dineshprima , we are working on the fix and will update soon.

[2020-07-06 04:36] iambaljitdhanoa commented on #179
@dineshprima  we have the short out same problem can you integration webhook in store ???

[2020-07-06 04:59] ramth05 commented on #179
@iambaljitdhanoa , @dineshprima , We have just added fix and need help to test it.
 Can you please try use this fix https://github.com/razorpay/razorpay-magento/releases/tag/2.9.4 and let us know your feedback.

[2020-07-06 05:36] dineshprima commented on #179
Yes , We integrated webhook too in store.

[2020-07-06 05:53] dineshprima commented on #179
I see bug fix for duplicate orders and guest user orders but where is the bug fix for magento2 order id not captured by razorpay... I am pointing this issue..I saw your comments as in latest version 2.9.0 it is resolved but we are using 2.9.3 still issue araised.
Why razorpay not captured order id?

https://github.com/razorpay/razorpay-magento/issues/166

[2020-07-06 05:57] sagardoshi08 commented on #179
@ramth05 i am also phasing the same issue. Because of that, I have to disable Rezorpay payment from My Magento shop.

[2020-07-06 06:01] dineshprima commented on #179
@sagardoshi08 what is the payment gateway that you are using? I am getting headache with this razorpay payment gateway. My superiors always in thought that i am a Very Bad Programmer thats why issue coming. When ever i said it is issue with razorpay they are not even listening my words.

[2020-07-06 06:02] sagardoshi08 commented on #179
Actually, for India, I am using ccavenue but some time same issue there as well.

[2020-07-06 06:03] dineshprima commented on #179
@sagardoshi08 oh , in these cases how you are dealing?

[2020-07-06 06:07] ramth05 commented on #179
@dineshprima , The orderId gets captured with this fix. Can you please test with this new fix release.

[2020-07-06 06:15] dineshprima commented on #179
@ramth05 , You are asking to test in production website , Are you sure about the fix ?

[2020-07-06 06:17] ramth05 commented on #179
@dineshprima , please if possible, test it on clone of production site.

[2020-07-06 07:23] dineshprima commented on #179
@ramth05 i tested in this scenario . As a magento customer logged in and selected one product and after payment successful i closed my browser before redirecting to magento website. In razorpay dashboard it is under notes. Now i will check it as normal.

Notes

merchant_order_id
    --

merchant_quote_id
    1716

[2020-07-06 07:32] ramth05 commented on #179
@dineshprima , As magento only place order after successful payment and order processed from front-end only.  Let me know the paymentId for this? and have you configured the webhook for this. Webhook is used to handle this case. Thanks of testing it. Can you please send me mail directly here "ramprakash.singh@razorpay.com"

[2020-07-06 07:41] dineshprima commented on #179
@ramth05 I sent you an email with the order id. We configured webhook.

[2020-07-06 08:21] purpletreesoft commented on #90
We also need this. We have all products in USD on our website. When we pass USD to your gateway, it treats it as international payment, even though the billing address of the customer is india based.
Due to this, net banking etc are not shown as it is treated as international payment.
This should not happen.
Can you do the needful here?

[2020-07-06 11:33] purpletreesoft opened #183 "Currency other than INR is treated as international payment, even if billing address is Indian"
We have all products in USD on our website. When we pass USD to your gateway, it treats it as international payment, even though the billing address of the customer is india based.
Due to this, net banking etc are not shown as it is treated as international payment.
This should not happen. This is a defect. Internatinal payment is when the person's billing address is out of India.
Can you do the n

[2020-07-23 17:13] padhu1980 opened #188 "main.ERROR: Notice: Undefined index: email in vendor/razorpay/magento/Controller/Payment/Order.php on line 161 [] []"
Hello,
I have updated my razorpay code to latest 3.0. But getting this error
main.ERROR: Notice: Undefined index: email in vendor/razorpay/magento/Controller/Payment/Order.php on line 161 [] []

Please correct this.

[2020-07-24 05:18] ChetanGN commented on #188
@padhu1980 Can you please let us know the steps to reproduce this issue! And also please clear your **browser cache** or **disable the cache** and try again. It might be because of the JS file was loading from cache.

[2020-07-24 15:28] padhu1980 commented on #188
Yes.after clearing cache, this problem resolved. thanks.

[2020-07-24 15:28] #188 closed, assigned to nobody

[2020-07-28 05:33] gopal2k6 commented on #178
Dear @ramth05 ,

Version 3.0 are  integrated with redirect Payment gateway page option?

Regards
Gopal Gautam

[2020-07-28 05:35] ramth05 commented on #178
Yes, it is . But you need to check with RZP support to enable the flag for your account.

[2020-07-28 07:42] gopal2k6 commented on #178
After Update code we are getting error

Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in /home2/website/app/code/Razorpay/Magento/Controller/BaseController.php:59 Stack trace: #0 /home2/website/app/code/Razorpay/Magento/Controller/Payment/Order.php(48): Razorpay\Magento\Controller\BaseController->__construct(Object(Magento\Framework\App\Action\Context), Object(Magento\Customer\Mo

[2020-07-28 08:07] ramth05 commented on #178
@gopal2k6 , This is still in pre-release and we are testing around it, will make it proper release. Then you can try it.

[2020-07-28 08:24] ramth05 commented on #178
@gopal2k6 , you can try it now.

[2020-07-28 09:01] gopal2k6 commented on #178
Yes working but how to enabled Added embedded checkout support

[2020-07-28 10:03] harman28 commented on #178
@gopal2k6 Could you elaborate on that? What do you need exactly?

[2020-07-29 06:29] gopal2k6 commented on #178
Thank you ! After updating Latest Release.. It's Seem Working.

[2020-07-29 06:29] #178 closed, assigned to nobody

[2020-08-22 13:53] ecohivetech commented on #115
did you find any solution for this?

[2020-08-25 09:30] nathaodedara commented on #166
@ramth05 I'm also having this strange issue, tried everything from my side to debug but nothing helped. Every day it happens with 3-4 orders. I updated to the latest version but same issue.

[2020-08-25 11:14] nathaodedara opened #193 "Issue with Order not placed on Magento but payment is made"
Hello,

I'm having this strange issue where in some orders ( daily happens with 3 to 4 orders ), where customers place an order and make payment and payment is also successfully and received but the orders are not placed on Magento. This happens with only some random orders only.

### What I tried:

- I have tried and read all related issues and comments on them here but nothing helped.

- I updat

[2020-09-02 07:24] ramth05 commented on #193
@nathaodedara , Can you please try to update to latest release `3.1.1`

[2020-09-02 07:27] ramth05 commented on #179
@dineshprima , closing this issue. Let me know if you still facing any issue and please feel free to reopen it again.

[2020-09-02 07:27] #179 closed, assigned to nobody

[2020-09-02 07:54] ramth05 commented on #183
@purpletreesoft,  currency other than INR, the only payment methods are available is cards or paypal.

[2020-09-04 15:08] sureshkantharaj opened #199 "Razorpay has errors in console"
Hi,

The console has error in 2.3.5-p2 using version 3.1.0
----------------------------------------------------------

1.

[Report Only] Refused to connect to 'https://lumberjack.razorpay.com/v1/track' because it violates the following Content Security Policy directive: "connect-src geostag.cardinalcommerce.com geo.cardinalcommerce.com 1eafstag.cardinalcommerce.com 1eaf.cardinalcommerce.com centin

[2020-09-08 11:58] midhun000 commented on #169
@JainSoftware @ramth05 @sodhanii We are facing the same issue. Any updates regarding this?

[2020-09-08 12:07] JainSoftware commented on #169
I have created coded custom function o. Razorpay library and it worked .

I can support you but each case can be different and hence it will require
personal intervention .

On Tue, 8 Sep, 2020, 5:28 pm midhun000, <notifications@github.com> wrote:

[2020-09-16 10:26] pandurangpatil commented on #70
WE are also facing this issue.

[2020-09-16 17:37] isha0425 commented on #152
installed zip code and cache is enabled in server, but getting error after placing order, not redirecting to success page throwing error
Error:   **No such entity with orderId =**
if (empty($this->cache->load("quote_processing_".$receipt_id)) === false) -> this condition is false
Please help us ASAP

[2020-09-17 03:15] midhun000 commented on #169
That would be great if you help.

[2020-09-17 03:15] midhun000 commented on #169
@JainSoftware That would be great if you help.

[2020-09-17 04:48] ramth05 commented on #152
@isha0425 , can you please copy full error log and version of magento and plugin.

[2020-09-17 05:05] isha0425 commented on #152
Magento version: 2.3.1
Plugin version : 3.1.3
Error:
message: "No such entity with orderId = "
trace: "#0
/home/mantranet/public_html/vendor/magento/framework/Interception/Interceptor.php(58):
Magento\Checkout\Model\PaymentInformationManagement->savePaymentInformationAndPlaceOrder(430,
Object(Magento\Quote\Model\Quote\Payment),
Object(Magento\Quote\Model\Quote\Address))↵#1
/home/mantranet/public_h

[2020-09-17 05:19] ramth05 commented on #152
@isha0425 , Unable to see issue related with cache or line no.  your said before ,
Is it live site if not can you please share the url for test site

[2020-09-17 05:26] isha0425 commented on #152
https://mantranet.org/
Payment name as **Credit Card / Debit Card / Net Banking** rather than Razorpay

[2020-09-17 05:35] ramth05 commented on #152
@isha0425 , unable to register an account , can you please share some test credentials

[2020-09-17 05:36] isha0425 commented on #152
email: clashofclans526439@gmail.com
password: Test@123

[2020-09-17 05:36] ramth05 commented on #152
@isha0425 , the site very slow not sure if caching is enabled or not.

[2020-09-17 05:48] ramth05 commented on #152
@isha0425 , looks some issue in order placement from magento. Can you please check log folder to get more details what is the issue and it can help us.

[2020-09-17 05:54] isha0425 commented on #152
This, I saw in Razorpay error log
[2020-09-17 05:45:36] main.INFO: Razorpay Webhook processing started. [] []
[2020-09-17 05:45:36] main.INFO: Razorpay Webhook processing started for Razorpay payment_id(:pay_Fdz6N9DGK6CiMK) [] []
[2020-09-17 05:45:36] main.INFO: Razorpay Webhook: Quote order is inactive for quoteID: 431 and Razorpay payment_id(:pay_Fdz6N9DGK6CiMK) [] []

[2020-09-17 06:08] ramth05 commented on #152
@isha0425 , any other logs in system or debug. And as per logs above looks like order already placed in backend , can you please confirm by checking it.

If you don't mind can you please share the FTP details here `ramprakash.singh@razorpay.com`

[2020-09-17 07:09] JainSoftware commented on #169
Please connect with us on email, it can be case-specific.

[2020-09-18 04:05] nathaodedara commented on #193
Okay, have updated the extension to the latest release. Let's wait for a week to check, will get back to you.

[2020-09-18 05:38] ramth05 commented on #199
@sureshkantharaj , Is this issue you are facing in Magento site? can you please upgrade to latest release and let me know if still the issue exist.

[2020-09-21 20:04] zeekinfo opened #202 "Razorpay Api not found in Magento 2.3.5-P2"
Hi,

am getting an error like this how to fix this

Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in public_html/app/code/Razorpay/Magento/Controller/BaseController.php:59 Stack trace: #0 /public_html/app/code/Razorpay/Magento/Controller/Payment/Order.php(46): Razorpay\Magento\Controller\BaseController->__construct(Object(Magento\Framework\App\Action\Context), Object(Magento\Cust

[2020-09-22 04:08] midhun000 commented on #169
@JainSoftware What is the mail id?

[2020-09-23 07:26] nathaodedara commented on #193
Updated the extension to the latest version, but the new issue has come up, some orders randomly are being placed twice in Magento.

[2020-09-23 07:52] ramth05 commented on #193
@nathaodedara , Can you please provide logs for the day when you got duplicate orders. The logs can be present in `var/log/Razorpay`

[2020-09-23 09:29] nathaodedara commented on #193
Yes sure.

This is a duplicate order in Magento:

![Screenshot_2020-09-23 Orders Operations Sales Magento Admin](https://user-images.githubusercontent.com/61116991/93989821-021cdb00-fda8-11ea-8537-d132b9485dcc.png)

Below is an log file of the date 22 September 2020, pay_YYYYYYYYYYYYYY is an Payment ID associated with the duplicate order:

[2020-09-22 01:03:52] main.INFO: Razorpay Webhook processi

[2020-09-23 09:48] ramth05 commented on #193
@nathaodedara , Can you please send me log file here  `ramprakash.singh@razorpay.com` without masking it.  One more thing if you can confirm me if the `quote_id` linked for both the orders same in your `sales_order` table.

[2020-09-23 10:28] nathaodedara commented on #193
Sent you an email, please do check when possible.

[2020-09-29 07:16] sureshkantharaj commented on #199
Hi,
This error exists in 2.3.5-p2.
I am using 3.1.3 razorpay/ release.

[2020-09-29 07:35] ramth05 commented on #199
@sureshkantharaj , As I am unable to replicate this issue at my side.
Can you please try it by adding this url in `lumberjack.razorpay.com` in `Razorpay/Magento/etc/csp_whitelist.xml` file and check if it's resolved the issue.

[2020-09-29 15:16] sureshkantharaj commented on #199
Hi @ramth05 ,

The url issue resolved. Added as connect-src and added url. But there is a console error saying ""serviceworker" must be a dictionary in your web app manifest. "  Please see below.

![rp1](https://user-images.githubusercontent.com/21336691/94578008-d3659f80-0294-11eb-8f62-2904991772cb.png)

[2020-10-06 05:39] magecomp commented on #174
hi
I have faced same issue in google chrome, popup is not opening while click on razor pay payment.
[image](https://user-images.githubusercontent.com/8856845/95162913-579fb180-07c4-11eb-8f21-fe8790156b0b.png)

Will you please check and let me know.

[2020-10-17 06:27] anitay opened #204 "Issue after successful payment, It redirecting to cart page instead of Success page Magento2"
Payment gateway redirecting to cart page even after successful payment with a message "user have no active cart". Can you tell how to fix it. This issue is not in payment through card method but on UPI, Netbanking.

[2020-10-27 09:56] nathaodedara commented on #193
@ramth05 The issue of missing order seems to be solved but now randomly some orders are being placed twice in Magento or can say duplicate order is being placed in Magento. Can I please get any help with this to get it fixed? Thank you.

[2020-10-27 10:12] ramth05 commented on #193
Hi @nathaodedara ,

Yes, looks like some time both the front-end and webhook placing orders. It's because of some issue in the site and webhook script gets hanged we need some support if you can provide some logs for that duplicate order. The logs present in "app/log/Razorpay" folder.

Currently I can suggest to create a cron to delete the duplicate order placed through webhook ( the Flag is alrea

[2020-11-03 11:37] satya-kalluri commented on #112
Was this resolved? This is the last step of our app-development and I found a major road-block.

[2020-11-03 12:03] ramth05 commented on #112
@satya-kalluri , can you please let us know  which version of Magento and plugin you are using.

[2020-11-03 12:42] satya-kalluri commented on #112
Apologies. I was using NPM module,  not magento. In haste,  I've posted in the wrong group.
Correct concern posted at https://github.com/razorpay/razorpay-node/issues/148

[2020-11-03 21:40] satya-kalluri commented on #112
I have got it resolved by registering my account at x.razorpay.com : https://github.com/razorpay/razorpay-node/issues/148#issuecomment-721222779

[2020-11-06 03:03] sacsau opened #207 "Razorpay plugin not working on Magento 2"
1. Razorpay logs error in console when payment button is clicked (see attached).
2. Razorpay payment goes through successfully.
3. Magento does not show success. Not does it place an order on the successful payment. Console shows yet another error "https://website/rest/website-name/V1/carts/mine/payment-information 500 (Internal Server Error)"

I had installed razorpay using composure. All configu

[2020-11-06 04:40] ramth05 commented on #207
@sacsau , Can you please provide your test site url and details of plugin version , magento version and system logs from `var/log/Razorpay` to this email `ramprakash.singh@razorpay.com` as well.

[2020-11-06 06:04] giridhar1994 commented on #207
@sacsau can you also drop an email with all the above details to the support team for better assistance. [Link](https://razorpay.com/support/#)

[2020-11-09 04:23] ramth05 commented on #207
The issue is with another module `DotDigital`, where it's unable to connect to SMTP server. The razorpay module working as expected. closing the issue.

[2020-11-09 04:23] #207 closed, assigned to nobody

[2020-11-09 05:15] nathaodedara opened #208 "Order duplication issue when webhook is enabled"
I had this issue https://github.com/razorpay/razorpay-magento/issues/193, updated the module to the latest version and as said enabled the webhook with events payment.authorized, payment.captured, and order.paid.

Now the issue is if I enable the webhook with these 3 events, some random orders are being placed twice as a duplicate order.

And if I disable the webhook the issue of duplicate order g

[2020-11-09 05:39] ramth05 commented on #208
@nathaodedara, Yes, there are some duplicate order issue occurring and it's very hard to replicate. If you check the duplicate order issue exist in magento for other payment processors as well.
We are working on to replicate the issue and exact reason why it's happening. Will get back to you on as we get some work-around on it.

[2020-11-09 05:40] nathaodedara commented on #208
I've only one Payment method and that is Razorpay. Please do let me know as soon as possible if there's any work around.

[2020-11-09 05:45] nathaodedara commented on #208
Webhooks are not working on localhost, is it possible for webhooks to work in localhost and send event request? If possible do let me know, I'll try debugging and find for a solution if possible.

[2020-11-09 05:46] ramth05 commented on #208
Please check things listed here, the issue we are facing also around it only. https://github.com/magento/magento2/issues/13952 ,

[2020-11-09 05:48] ramth05 commented on #208
Nope, you can use some kind of application like `ngrok` to publish your site on internet to handle the webhook locally.

[2020-11-09 05:53] ramth05 commented on #208
@nathaodedara , you can try this our new beta version `https://github.com/razorpay/razorpay-magento/releases/tag/beta-3.3.1` of plugin where Magento order gets created before payment in pending state and can solve webhook dependency and missing order isssue as well. But needs to be tested properly for your site use cases.

[2020-11-09 06:35] ramth05 commented on #202
@zeekinfo , How you are installing the module in your system. Can you please confirm if in your setup

File `//public_html/app/code/Razorpay/Magento/Controller/BaseController.php`, contains these 2 lines at line no. 5 & 6
// require in case of zip installation without composer
require_once __DIR__ . "/../../Razorpay/Razorpay.php";

[2020-11-09 06:42] ramth05 commented on #193
closing it as this gets tracked here #208

[2020-11-09 06:42] #193 closed, assigned to nobody

[2020-11-09 06:47] ramth05 commented on #183
Closing it as no updates on it. Please check with Razorpay support team for issue related with foreign currency.

[2020-11-09 06:47] #183 closed, assigned to nobody

[2020-11-09 06:49] ramth05 commented on #174
@magecomp @painal , Please let me know if you are still facing same issue with latest release.

[2020-11-09 06:52] ramth05 commented on #169
@JainSoftware, @midhun000 , the new release supports in APP browsers. Please let us know if you are still facing issues on it.

[2020-11-09 07:38] zeekinfo commented on #202
I installed manual only i didnt install via composer

[2020-11-09 07:44] zeekinfo commented on #202
I installed manual only i didnt install via composer

[2020-11-09 09:36] ramth05 commented on #202
Ok, Can you please confirm if above two lines present on mentioned file ?

[2020-11-09 09:43] zeekinfo commented on #202
This is what showing here

<?php

namespace Razorpay\Magento\Controller;

use Razorpay\Api\Api;
use Razorpay\Magento\Model\Config;
use Magento\Framework\App\RequestInterface;

/**
 * Razorpay Base Controller
 */
abstract class BaseController extends \Magento\Framework\App\Action\Action
{

[2020-11-09 09:44] zeekinfo commented on #202
namespace Razorpay\Magento\Controller;

use Razorpay\Api\Api;
use Razorpay\Magento\Model\Config;
use Magento\Framework\App\RequestInterface;

/**
 * Razorpay Base Controller
 */
abstract class BaseController extends \Magento\Framework\App\Action\Action
{

[2020-11-09 09:49] ramth05 commented on #202
@zeekinfo , Can you please confirm which version of plugin you are using it? and to resolve this issue please add these two lines at below this line `namespace Razorpay\Magento\Controller;`

// require in case of zip installation without composer
require_once __DIR__ . "/../../Razorpay/Razorpay.php";

[2020-11-09 09:52] zeekinfo commented on #202
am using Magento 2.3.5-P2 but i dont know what  version of Razorpay plugin

[2020-11-09 09:54] zeekinfo commented on #202
Should i give like this?  https://prnt.sc/vg0b3z

[2020-11-09 09:54] ramth05 commented on #202
@zeekinfo , Can you please download `code.zip` from here and do fresh install again
https://github.com/razorpay/razorpay-magento/releases/tag/3.2.1

[2020-11-09 09:55] zeekinfo commented on #202
OK, i will try

[2020-11-09 10:04] ramth05 commented on #202
Yes

[2020-11-10 05:00] ramth05 commented on #202
Please use latest release and install it from `code.zip` file. Closing it for now, feel free to reopen it.

[2020-11-10 05:00] #202 closed, assigned to nobody

[2020-11-10 05:02] ramth05 commented on #174
Please use the latest release and let us know if any issues. Closing this issue for now. Please feel free to reopen.

[2020-11-10 05:02] #174 closed, assigned to nobody

[2020-11-10 05:04] ramth05 commented on #169
Closing it for now. Please feel free to re-open it.

[2020-11-10 05:04] #169 closed, assigned to nobody

[2020-11-10 05:14] ramth05 commented on #115
Currently not supported by Razorpay.

[2020-11-10 05:14] #115 closed, assigned to nobody

[2020-11-10 05:18] ramth05 commented on #61
currently Multi-shipping not supported.

[2020-11-10 05:18] #61 closed

[2020-11-13 06:12] lokeshvnaik opened #209 "Feature Request - Subscriptions and Recurring Payment"
Need below features with Magento 2 Razorpay payment gateway

1. Create and manage subscription products
2. Capture secure recurring payments based on billing cycle
3. Schedule the subscription period of any time interval and frequency
4. Supports Email Notifications (e.g. notification before expiry period)
5. Renew a subscription
6. Cancel a subscription

Are there any other 3rd party extension wh

[2020-11-17 17:13] mhd2arif opened #210 "REST API"
Hi there,

We are struggling to place magento order with razorpay method in API level for mobile application. Also we are not able to find any relevant document related to the REST API flow for the mobile app and creating orders on Magento.

Even for V1/carts/mine/payment-information we are unable to determine request param values order_id, rzp_payment_id and rzp_signature.

Could you let us know

[2020-11-18 14:53] vishalpatel19862 commented on #193
@nathaodedara I am still facing issue. Customer has made payment but order is not created on Admin panel. please let me know what is the fix. i am using razor pay version 3.2.0.

[2020-11-18 14:56] vishalpatel19862 commented on #179
@ramth05 I am still facing issue where customer has made payment but order is not created on admin panel. i am using razor pay version 3.2.0.

[2020-11-19 03:16] ramth05 commented on #179
@vishalpatel19862 , Please configure the webhook and check the logs.

[2020-11-19 04:31] ramth05 commented on #210
@mhd2arif , How you are taking payment using API?

`Even for V1/carts/mine/payment-information we are unable to determine request param values order_id, rzp_payment_id and rzp_signature.` These params are related with front-end order processing and required user to complete the payment manually. So when user complete the payments through razorpay checkout.js in callback url the razorpay sent these

[2020-11-19 05:34] vishalpatel19862 commented on #179
@ramth05 please let me know how to get web hook secret? i am stuck there.

[2020-11-19 05:39] ramth05 commented on #179
@vishalpatel19862 please follow https://razorpay.com/docs/webhooks/ and set webhook for `order.paid` event only. The webhook Url can be copied from Magento razorpay settings and then use same secret to setup in magento dashboard as well.

[2020-11-19 05:43] vishalpatel19862 commented on #179
@ramth05 so for web hook secret field we can set anything we want to set e.g. 'xyzsszcfd' correct?

[2020-11-19 05:45] ramth05 commented on #179
Yes, and be sure it must not be disclosed.

[2020-11-19 05:50] vishalpatel19862 commented on #179
@ramth05 i have set up and tried to place order it dint go to success page, stayed on payment method screen. order is not created in admin panel. i am getting following message in log file.

2020-11-19 05:45:09] main.INFO: Razorpay Webhook processing started. [] []
[2020-11-19 05:45:09] main.INFO: Razorpay Webhook processing started for Razorpay payment_id(:pay_G2uqrqY7MzfL83) [] []
[2020-11-19 05

[2020-11-19 07:04] ramth05 commented on #179
@vishalpatel19862 , the webhook can be used for missing orders, If you are facing issue that after payment it's not redirecting to success page means some other issue. Can you please share the url of site where you testing it?

[2020-11-19 07:07] vishalpatel19862 commented on #179
@ramth05 after adding web hook i am not getting redirected to success page.earlier i was getting redirected and order was getting created but in some case order is missing. how do you want to me share url?

[2020-11-19 07:14] ramth05 commented on #179
@vishalpatel19862 , Please send me email here with details of testing url `ramprakash.singh@razorpay.com`

[2020-11-23 05:16] mhd2arif commented on #210
@ramth05
Thanks for the reply.

We over came our scenario by creating a Rest api to generate razorpay order_id  as mentioned in 6th step of the below reference.
REF:-  https://razorpay.com/docs/payment-gateway/react-native-integration/standard/android/
And stored it in catalog session.
then after the 7th step in reference we passed payment id and signature to V1/carts/mine/payment-information.
Tha

[2020-11-23 05:18] #210 closed, assigned to nobody

[2020-12-04 10:56] nathaodedara commented on #208
Tried this, but while setup:di:compile it is giving the following error:

`Compilation was started.
Repositories code generation... 1/7 [====>-----------------------]  14% < 1 sec 76.5 MiBPHP Warning:  Uncaught Exception: Warning: require_once(/var/www/html/vendor/razorpay/magento/Controller/../../Razorpay/Razorpay.php): failed to open stream: No such file or directory in /var/www/html/vendor/razo

[2020-12-05 11:32] nathaodedara commented on #208
This is not a Magento issue because the duplicate order is being placed at exactly the same time and also event 'sales_order_place_before' and adding code to check if order with quote id already exists but this isn't helping too. I think this is an issue with something from your module Webhook but not able to find where's an issue. This is really annoying please do suggest a solution if you have a

[2020-12-05 13:23] dineshmanne opened #211 "Magento2 Duplicate Order Issue"
I am using Magento 2.3.5 p2 version  , Razorpay version 3.2.1 . Customer paying for one order but in magento it is creating two orders when webhook is enabled.

In last 4 days it happened for 2 orders on same day and 1 order on another day. Do you have any resolution for it?

[2020-12-07 04:58] dineshmanne commented on #211
I think that Razorpay Webhook and Front end webhook hitting at same time. Can we add some sleep time to get Active Quote Status in backend webhook. So that we can avoid duplicate orders. Will that work ?

[2020-12-17 10:53] ramth05 commented on #211
@dineshmanne, Added some fix in Razorpay version 3.2.2 for same. Can you please try it and confirm if still issue persist.

[2020-12-19 16:04] Vky0311 opened #214 "main.CRITICAL: Error: Class 'Razorpay\Api\Api' not found"
I am using Magento 2.4.1.
When we go to the checkout page it gives this error "main.CRITICAL: Error: Class 'Razorpay\Api\Api' not found in /..,/Razorpay/Magento/Controller/BaseController.php:59"

[2020-12-20 14:29] Vky0311 commented on #214
Ok you have to download **code.zip** from https://github.com/razorpay/razorpay-magento/releases/ . It works.

[2020-12-20 14:29] #214 closed, assigned to nobody

[2020-12-21 10:07] ramth05 commented on #211
@dineshmanne , please let me know, if still you are facing this issue with new version of plugin.

[2020-12-23 10:40] sureshkantharaj opened #215 "After successful payment, Error message : ''Error : Decoding failed''"
In magento 2 app, After successful payment there is a error saying : Error : Decoding failed.
![rzp](https://user-images.githubusercontent.com/21336691/102988056-5f583200-4539-11eb-86b6-fc0bbec79aff.jpeg)

[2020-12-23 13:41] #215 closed, assigned to nobody

[2020-12-23 13:42] sureshkantharaj commented on #215
M-2.3.6 does't work on php 7.3

[2020-12-27 04:28] mandarzope opened #216 "Razorypay order amount is less than that of Magento Order"
Steps to reproduce

1. Add one item to cart and proceed to checkout (Cart total is X)
2. Click PlaceOrder using Razorpay payment method.
3. Let the Razorpay popup open and do not place order
4. In the new tab open website again and add more items to the cart (Cart total is 3X)
5. Come back to previous tab and make payment
Razorpay has captured amount of X but the order is placed of 3X.

[2021-01-07 10:36] ankittparikh opened #218 "Razorpay Magento 2.X plugin giving error on calling Graphql placeOrder query."
Response of GraphQL placeOrder query
[code]

[2021-01-08 02:28] ramth05 commented on #211
@dineshmanne , Closing this issue now. Please reopen it if issue still exist.

[2021-01-08 02:28] #211 closed, assigned to nobody

[2021-01-08 05:44] ramth05 commented on #216
@mandarzope , thanks for helping on testing and pointing out this issue. This looks like a bug, we are working to fix it.

[2021-01-10 11:46] Manak commented on #208
Just went through this. I'm on v2.9 of the module and am facing this exact issue. No clue on how to resolve this.
It looks like there might be a case where a webhook is sending a request twice instead of a single time. The issue is I am not able to replicate the problem consistently.

[2021-01-11 03:58] ramth05 commented on #208
@Manak , can you please try the latest release V3.3.0.

[2021-01-11 05:51] ramth05 commented on #216
@mandarzope , the fix is release with this V3.3.0.

[2021-01-11 11:14] ramth05 commented on #218
@ankittparikh , Currently Razorpay plugin don't support GraphQL order placement.

[2021-01-14 04:16] drksl opened #220 "Want to save the actual amount paid."
There are some offer discounts running on Razorpay dashboard. So when the customer reaches to pay for the order he/she can still take further discount, so ie. instead of paying 9000 they end up paying 8000. But on Magento DB 9000 is getting captured which is quite a hassle while initiating refund. Can you please help to save the actual payment paid by the customer.

Thank you.

[2021-01-19 08:17] santhoshp commented on #208
@ramth05 The duplicate order issue exists in V3.3.0. This happens only if I enable the webhook.

[2021-01-21 13:37] akash-innov opened #221 "Problem with 3.3.0 version of razorpay Plugin"
Hi, I am using,  Magento **ver. 2.3.5-p1** I am getting 500 error on the checkout page after installing the latest version of Razorpay plugin 3.3.0.
But it's working totally fine when I am using an older version of Razorpay plugin 2.9.2.

What might be the possible reason for this? Need help.

[2021-01-27 06:05] srikanthpolisetty opened #223 "When webhook is enable customer order notification not sending"
When a payment is successful but if order is created by using razorpay webhook it is not sending any customer order conformation email, all customers are asking conformation email for there orders always. Could you please examine the issue ..?

Thanks in Advance.

[2021-02-08 03:10] #216 closed, assigned to nobody

[2021-02-18 08:28] somunelavalli commented on #208
We are also facing the duplicate order issue and on the Successful page showing different order number and Cart is not clearing the product after purchase. if we enable the Webhooks.
For some Customers After making the payment, it showing like"Quote id is Not Available"
For me, it is generated almost 9 duplicate orders.

![Product in Cart](https://user-images.githubusercontent.com/47572851/1084554

[2021-02-18 14:15] Afreen-Cedcoss commented on #218
When will the razorpay graphql support will be provided

[2021-02-19 16:59] zeekinfo opened #226 "webhook error"
HI

am getting some webhook error how to fix this

https://worldwideaj.com/razorpay/payment/webhook

Fatal error: Uncaught Error: Class 'Razorpay\Api\Api' not found in /home/473059.cloudwaysapps.com/djdaccjsak/public_html/app/code/Razorpay/Magento/Controller/BaseController.php:59 Stack trace: #0 /home/473059.cloudwaysapps.com/djdaccjsak/public_html/app/code/Razorpay/Magento/Controller/Payment/Webh

[2021-02-22 04:57] ramth05 commented on #226
@zeekinfo , Which version of plugin you are using ? can you please upgrade to latest release 3.3.1

[2021-02-22 11:21] prabakar1978 opened #227 "Latest Razorpay plugin web hook erro"
https://ezekiahfrancis.in/razorpay/payment/webhook

TypeError: Return value of Razorpay\Magento\Controller\Payment\Webhook::getPostData() must be of the type array, null returned in /home/ezekiahf/public_html/prodshop/vendor/razorpay/magento/Controller/Payment/Webhook.php:369 Stack trace: #0 /home/ezekiahf/public_html/prodshop/vendor/razorpay/magento/Controller/Payment/Webhook.php(117): Razorpay\M

[2021-02-22 11:23] prabakar1978 opened #228 "Cart order amount doestn't match with amount Paid"
My final checkout and order creation process is failed but the amount captured successfully in the RazorPay dashboard

  [2021-02-22 07:10:51] main.CRITICAL: Cart order amount = ₹1,270.00 doesn't match with amount paid = ₹0.00 {"exception":"[object] (Magento\\Framework\\Exception\\LocalizedException(code: 0): Cart order amount = ₹1,270.00 doesn't match with amount paid = ₹0.00 at vendor/razorpay/m

[2021-02-23 12:47] ramth05 commented on #227
@prabakar1978, how you using the webhook?

[2021-02-23 12:48] ramth05 commented on #228
@prabakar1978, can you please let me know, how you are doing order processing? Any demo site link where you facing this issue.

[2021-02-23 13:32] prabakar1978 commented on #228
Hi,

It is coming randomly for few orders and i dont know the reason.  It is coming as response from the RazorPay Magento plugin after the checkout process is done.  Good part.  Amount is captured in Razorpay and order is not getting created in Magento2 since the payment gateway is throwing the above response

www.ezekiahfrancis.org

[2021-02-23 13:35] prabakar1978 commented on #227
Hi,
I am getting the below email daily from Razorpay after this my webhook got disabled in the RazorPay dashboard.  so i tried to execute the my webhook from browser and to see if there is any problem with the same.

Hi, We have been experiencing webhook delivery failure for past 24 hours while trying to hit the live webhook url - https://ezekiahfrancis.in/razorpay/payment/webhook. As noted in our

[2021-02-23 13:38] ramth05 commented on #227
@prabakar1978 , This will only work for Server to server call when Razorpay hit the webhook endpoint. So if you execute it manually then this kind of errors you will see.

[2021-02-23 13:38] #227 closed, assigned to nobody

[2021-02-23 14:14] ramth05 commented on #218
@Afreen-Cedcoss , can you please help me how you are using GraphQL to place the order.
Like curl request or  payload and url you are using for same. To understand the use case.

[2021-02-23 17:23] paradigmecommerce opened #230 "Razorpay 3.3.1 installed in Magento 2.4.2 Critial Error"
[2021-02-23 17:06:04] main.INFO: Consumer "async.operations.all" skipped as required connection "amqp" is not configured. Unknown connection name amqp [] []
[2021-02-23 17:06:08] main.CRITICAL: Error: Call to undefined method Magento\Framework\Logger\LoggerProxy::setHandlers() in <Magento root>/app/code/Razorpay/Magento/Controller/Payment/Order.php:61

[2021-02-24 08:22] prabakar1978 opened #231 "Reg Razorpay_order_id or razorpay_subscription_id must be present."
Hi

I am getting the below error in the Razorpay logs post payment gateway response.  It is happening randomly.  Could you please provide your input how to handle this in my shopping.  www.ezekiahfrancis.org.  Good part payment successfully credited in Razorpay dashboard but order is not getting created in magento due to below exception

[2021-02-24 07:02:07] main.INFO: Razorpay front-end order pr

[2021-02-24 11:42] #226 closed, assigned to nobody

[2021-02-24 11:47] ramth05 commented on #228
@prabakar1978 , We are validating cart order amount with the amount paid. This error will only occur if there is session lost of the user. This is part of validation.

Please enable webhook, if the things are correct it will create order from the backend.

[2021-02-24 11:47] #228 closed, assigned to nobody

[2021-02-24 11:49] ramth05 commented on #231
@prabakar1978 , Can you please help me with the steps to reproduce it?

[2021-02-25 06:18] prabakar1978 opened #233 "Webhook disabled daily"
Hi,

My webhook in RazorPay daily got deactivated and i need to activate daily.  Is it the problem with RazorPay or with my RazorPay-magento2 plugin.  Please share some input on the same

www.ezekiahfrancis.in is my domain

Hi, We have been experiencing webhook delivery failure for past 24 hours while trying to hit the live webhook url - https://ezekiahfrancis.in/razorpay/payment/webhook. As noted

[2021-02-25 06:21] prabakar1978 commented on #231
This is not able to reproduce and it is coming randomly.  Please see the attached image. But good part payment is capturing but bad part order is not creating.
![razor_paypay_bug](https://user-images.githubusercontent.com/25123226/109111832-a2b06600-775f-11eb-849e-189729f2298b.png)

[2021-02-25 06:40] ramth05 commented on #231
@prabakar1978 , Can you please pass me some reference paymentID's for the same.

[2021-02-25 06:46] ramth05 commented on #233
@prabakar1978 ,  Please use same secret which you setting on RZP dashboard under magento webhook secret field.

[2021-02-25 06:58] prabakar1978 commented on #231
Please see the below details

order_GfJwqVEKdt7j1W

pay_GfJxLjiR1FEk0x

[2021-02-25 07:05] prabakar1978 commented on #233
thanks for your input.  But I am pretty sure my webhook secret really same.  Do we need any mechanism to test whether my webhook  is synced with RazorPay or not.

[2021-02-25 07:12] ramth05 commented on #233
@prabakar1978 , Please check the logs present under `var/log/Razorpay/`, To verify what kind of errors reported here.

[2021-02-25 07:24] prabakar1978 commented on #233
For webhook disablement i don't see any logs in this directory.  But i can see the logs for the regular transactions only

-rw-rw-r-- 1 ezekiahf ezekiahf  190 Feb 20 06:49 rzp_2021_02_20.log
-rw-rw-r-- 1 ezekiahf ezekiahf 1.5K Feb 22 04:43 rzp_2021_02_22.log
-rw-rw-r-- 1 ezekiahf ezekiahf  906 Feb 23 05:59 rzp_2021_02_23.log
-rw-rw-r-- 1 ezekiahf ezekiahf  811 Feb 24 02:00 rzp_2021_02_24.log
ezeki

[2021-02-25 07:26] ramth05 commented on #233
@prabakar1978 , please send these logs here `ramprakash.singh@razorpay.com`

[2021-02-26 01:38] sharmahoney80 opened #234 "Cart and Checkout page not working after installing the latest version of Razorpay magento plugin on Magento ver. 2.3.5-p2"
The checkout n cart pages previously was working fine, but afer installing the plugin these pages are not working , got blank

[2021-02-26 04:20] ramth05 commented on #234
@sharmahoney80 , Please let me know which version of plugin you are using and the site link please.

[2021-02-26 18:48] paradigmecommerce commented on #230
Latest release 3.4.0 on Magento 2.4.2 is also giving the same error.
Any resolution or bug fix for the same?

[2021-02-26 18:51] vipulrg opened #236 "After Installation Razorpay Magento2 Extension Checkout & Cart 500 Internal Server Error"
having issue in my website wile integrating razor pay gateway getting checkout error on my website is on magento 2.1.7 version https://ayushshopee.com/checkout/ please solve this or suggest the solution

[2021-02-27 11:52] paradigmecommerce commented on #230
Does anyone has any solution for this? Any recommendation for any other payment gateway with ready error free Magento 2 plugin?

[2021-03-01 15:21] ramth05 commented on #236
@vipulrg , Can you please let me know which version of plugin you are using. Can you please check logs in your server to check what causing 500 error.

[2021-03-02 06:06] vipulrg commented on #236
Hello Razorpay
Well sir i am using razor pay 3.4.0 magento version on my website and still
it's giving error on checkout  iam using 2.1.7 version well will I am
sending you admin login and pass of my website  www.ayushshopee.com/admin
please go through that and please update me
the issue.

On Mon, Mar 1, 2021, 20:51 Ram Prakash Singh <notifications@github.com>
wrote:

[2021-03-02 06:26] vinaykumar9999 opened #238 "Razorpay Version 3.4.0 giving Error while accessing admin panel in Magento v 2.4.2"
Hi

Facing the following issue on Magento 2.4.2 with Razorpay Version 3.4.0
Error is coming while accessing admin panel. Any workaround for this issue ?

main.CRITICAL: Error: Call to undefined method Magento\Framework\Logger\LoggerProxy::setHandlers() in /home/public_html/vendor/razorpay/magento/Controller/Payment/Order.php:61
Stack trace:
#0 /public_html/generated/code/Razorpay/Magento/Controlle

[2021-03-02 06:33] ramth05 commented on #238
#230 , @vinaykumar9999. it's duplicate issue. The fix already applied in master. Will provide the release soon.

[2021-03-02 06:33] #238 closed, assigned to nobody

[2021-03-03 10:19] ramth05 commented on #236
@vipulrg , can you please confirm if the DB table `razorpay_sales_order` , created under your DB or not.

[2021-03-03 10:27] vipulrg commented on #236
i am using magneto 2.1.7 and razorpay 3.4.0

[2021-03-03 10:28] ramth05 commented on #236
@vipulrg , can you please confirm if the DB table `razorpay_sales_order` , created under your DB or not.

[2021-03-03 16:21] vipulrg commented on #236
https://drive.google.com/file/d/1Q01Hkt99-H3SEVUjHBWp1RLxpzBEAA0p/view?usp=sharing  please check table razorpay_sales_order already created in database

[2021-03-04 05:11] ramth05 commented on #236
@vipulrg , As per our logs merchants using this release https://github.com/razorpay/razorpay-magento/releases/tag/2.9.1 , with magento 2.1.7.

Can you please try to install this release and let me know if still you facing same issue.

[2021-03-04 05:26] vipulrg commented on #236
ok let me check n install will update you shortly

[2021-03-04 05:37] vipulrg commented on #236
There has been an error processing your request
Exception printing is disabled by default for security reasons.

Error log record number: 746054335084

[2021-03-04 05:38] vipulrg commented on #236
sir its not working can you please come on zoom or anydesk to check we cant know the same

[2021-03-04 05:41] ramth05 commented on #236
@vipulrg , can you please check this report in logs what is the issue `746054335084`

[2021-03-04 06:05] vipulrg commented on #236
[2021-03-04 04:03:13] main.CRITICAL: Invalid template file: 'html/header.phtml' in module: 'Plazathemes_Layout' block's name: 'custom_header' [] []
[2021-03-04 04:03:13] main.CRITICAL: Invalid template file: 'html/footer.phtml' in module: 'Plazathemes_Layout' block's name: 'custom_footer' [] []
[2021-03-04 05:23:36] main.CRITICAL: Warning: file_put_contents(/home2/ayushfl5/public_html/pub/static/f

[2021-03-04 06:11] ramth05 commented on #236
@vipulrg , these are not the errors related with Razorpay. Please correct these errors and try it again.

[2021-03-04 07:48] vipulrg commented on #236
well i have changed to 3.4.0 now my website is opening well issue not from the our side i am running cc avenue gateway which working fine in my website so please give the proper solution for razorpay our if you need please come to teem viewer or anydesk and check it  or update buy your self we have done all the thing which u have said buy things are not working...

[2021-03-04 09:51] ramth05 commented on #236
@vipulrg please  email me here `ramprakash.singh@razorpay.com`

[2021-03-04 10:05] vipulrg commented on #236
Hiii
 Yes please tell me the solution

On Thu, Mar 4, 2021, 15:21 Ram Prakash Singh <notifications@github.com>
wrote:

[2021-03-04 10:07] ramth05 commented on #236
Please email me from your email, so that we can connect .

[2021-03-04 10:13] vipulrg commented on #236
hello,
yes sir i am sending ypu mail with my email address please further proceed
for the issue resolution.

On Thu, Mar 4, 2021 at 3:37 PM Ram Prakash Singh <notifications@github.com>
wrote:

[2021-03-09 04:06] ramth05 commented on #234
@sharmahoney80 , Please try latest release.

[2021-03-09 04:06] #234 closed, assigned to nobody

[2021-03-09 04:07] ramth05 commented on #208
@nathaodedara , Please try latest release 3.4.1 with delay configured for webhook execution. It must solve this issue.

[2021-03-09 04:07] #208 closed, assigned to nobody

[2021-03-09 05:50] ramth05 commented on #230
@paradigmecommerce , fix applied in new release `3.4.1`

[2021-03-09 05:50] #230 closed, assigned to nobody

[2021-03-09 05:52] ramth05 commented on #231
@prabakar1978 , are you still facing this issue. Can you please upgrade to latest release `3.4.1`

[2021-03-09 05:53] ramth05 commented on #221
@akash-innov , Can you please try the latest release `3.4.1`.

[2021-03-10 06:11] ramth05 commented on #236
@vipulrg , Please follow all the instructions, while installing the plugin.

[2021-03-10 06:11] #236 closed, assigned to nobody

[2021-03-11 05:11] ramth05 commented on #218
@ankittparikh ,  Can you please let me know how you are taking/collecting razorpay payments with GraphQL?

[2021-03-11 06:34] paradigmecommerce commented on #230
Thanks it is working fine now

[2021-03-12 08:40] Afreen-Cedcoss commented on #218
Using it as a payload

[2021-03-12 08:49] ramth05 commented on #218
@Afreen-Cedcoss, I just want to check how you are accepting Razorpay payments? with GaphQL before palceOrder call?
Are you using any front-end APP for same?

[2021-03-18 10:03] gopal2k6 opened #241 "Again No Order ID after Capture Payment ( Web Book already enabled )"
Guys,

What you doing with Update... No testing ... Today i missed 3 Order

pay_Gnqe1ypJK44MCa order_GnqdnneVWpIpV7 ₹ 1,199.00 ₹ - Indian Rupee (INR)
pay_GnmLCXx0Pg17YO order_Gnla4dsenjbGTI ₹ 4,615.00 ₹ - Indian Rupee (INR)
pay_GnlXCf3ziXxrW5 order_GnlWfI1KTGBQ0W ₹ 2,399.00 ₹ - Indian Rupee (INR)

--------------------------------------------------------------------------

Latest Log

[2021-03-18 0

[2021-03-18 10:05] gopal2k6 commented on #241
No reply from Razorpay Dashboard also...

Ticket ID #5212733 | Category: Transaction related

[2021-03-18 10:14] ramth05 commented on #241
@gopal2k6 , can you please share the log file to email.

[2021-03-18 10:41] gopal2k6 commented on #241
PFA

*Regards,*

Gopal Gautam
Sr. Web Developer
*HTML5 | PHP | Wordpress | Magento | Angular JS*
Mobile: - +91 9910341830
E-Mail:- ***@***.***
Website:- http://www.gopalgautam.com
*Skype :-  *gopal2k6_1983

On Thu, 18 Mar 2021 at 15:45, Ram Prakash Singh ***@***.***>
wrote:

[2021-03-18 10:46] gopal2k6 commented on #241
@ramth05 Sent

[2021-03-18 11:03] gopal2k6 commented on #241
Please recover all order soon as possible.  Webhook not working properly.

[2021-03-18 11:44] #241 closed, assigned to nobody

[2021-03-26 13:24] ramth05 commented on #233
This was because of SSL certificate not valid.

[2021-03-26 13:24] #233 closed, assigned to nobody

[2021-03-26 13:26] #231 closed, assigned to nobody

[2021-04-05 15:42] amitnavsoft opened #245 "Can not place order in one step checkout"
We have one step checkout ( ahead-works ) in our store. When we try to place order using Razorpay, it gives error.

**Razorpay Error: Notice:** Undefined index: rzp_payment_id in /var/www/vhosts/www.myborosil.com/webroot/app/code/Razorpay/Magento/Model/PaymentMethod.php on line 228.

Step to reproduce

1. Install fresh Magento 2.3.4
2. Install one step checkout ( ahead-works ) and enable it
3. Ins

[2021-04-08 05:04] adityanvd commented on #179
@ramth05 We are also getting this issue but only for random orders, we are using the latest available extension version(3.4.1) and magento 2.3.3.

[2021-04-08 05:09] ramth05 commented on #179
@adityanvd , Please use webhook for missing orders.

[2021-04-08 09:51] #221 closed, assigned to nobody

[2021-04-08 12:03] ramth05 commented on #204
Please update to latest release.

[2021-04-08 12:03] #204 closed, assigned to nobody

[2021-05-08 06:33] ankittparikh commented on #218
We created our own Razarpay plugin for Magento. So steps we use to receive payment is as follows:
1. We create an order (using placeOrder mutation) in Pending Status using Magento GraphQL query from our react frontend app.  which returns order_id in response
2. We then initiate Razorpay Widget on react app using same order_id

In the above scenario, we are using a payment method as checkmo for Mag

[2021-05-11 04:43] ramth05 commented on #218
@ankittparikh , We are in testing phase of GraphQL support #240. Will update you soon when it released.

[2021-05-21 16:31] harendraprajapati opened #247 "PHP Fatal error: main(): Failed opening required Installing razorpay/magento (3.5.0)"
PHP Warning:  Uncaught Exception: Warning: require_once(/vendor/razorpay/magento/Observer/../../Razorpay/Razorpay.php): failed to open stream: No such file or directory in /vendor/razorpay/magento/Observer/AfterConfigSaveObserver.php on line 6 in /vendor/magento/framework/App/ErrorHandler.php:61
Stack trace:
#0 /vendor/razorpay/magento/Observer/AfterConfigSaveObserver.php(6): Magento\Framework\App

[2021-05-24 04:46] ramth05 commented on #247
@harendraprajapati , Can you please try the latest release 3.5.1 and let us know if still there are any issue.

[2021-05-28 06:34] ramth05 commented on #247
@harendraprajapati , please let us know if you are facing any issue with latest release.

[2021-05-28 13:46] harendraprajapati commented on #247
Working Fine As Expected w release 3.5.1. Thanks.

[2021-05-28 13:46] #247 closed, assigned to nobody

[2021-06-10 08:09] abhilashiic commented on #218
Can we test this feature? It will be very helpful to know the tentative timeline for this feature.

[2021-06-10 08:11] ramth05 commented on #218
@abhilashiic , It's already in QA and will be released by next week.

[2021-06-11 11:05] ramth05 commented on #218
@abhilashiic, We have released 3.6.0 with GraphQL.

[2021-06-16 07:30] ankittparikh commented on #218
Razorpay working with 3.6.0 update.

[2021-06-16 07:30] #218 closed, assigned to nobody

[2021-06-17 12:39] prabakar1978 opened #255 "Reg PDF books order and Hard copies order confirmation"
Hi,

In My shopping cart if someone is ordering pdf books alone then after the successful order status got updated with Complete so end user can download pdf

If someone is ordering pdf books and hard copy books then pdf books are not able to download since the order status will marked as Processing only due to that user is not able download the books immediately.  Could you please change the razo

[2021-06-18 18:30] vinaychhabra opened #256 "fatal error on saving razorpay configuration from backend"
[
![razorpay](https://user-images.githubusercontent.com/21859132/122602943-43b98880-d091-11eb-99a1-34919fe296e1.png)
](url)
I got this fatal error on saving razorpay payment method configuration from backend.
I had installed it through zip file.

[2021-06-19 09:39] ramth05 commented on #256
@vinaychhabra , which version you are trying to install? and which zip file you are using?

[2021-06-19 17:34] vinaychhabra commented on #256
@ramth05 3.5.1 of razorpay and magento version is 2.3.5-p1. Downloaded  zip from git.

[2021-06-20 03:54] ramth05 commented on #256
@vinaychhabra , please use latest release 3.6.1 and use `code.zip` file for zip installation.

[2021-06-20 09:01] #256 closed, assigned to nobody

[2021-06-20 09:01] vinaychhabra commented on #256
Ok thanks

[2021-06-30 07:14] NTK-2016 opened #259 "Razorpay is not in admin panel option"
is that Razorpay not supported to admin panel in magento 2

[2021-07-01 03:57] suribhakar commented on #70
Yes , I am also facing this issue till now, razorpay version(3.6.2).

any can help for this?

[2021-07-14 07:43] ramth05 commented on #259
@NTK-2016 , not yet. This feature is in our development pipeline to add in future.

[2021-07-15 05:59] ankittparikh opened #261 "Webhook not working in all cases"
We are using graphql for Razorpay payment in Magento using the latest plugin. Webhook works sometimes and sometimes doesn't.

[2021-07-19 19:18] dev-amitsaini opened #262 "Error on save admin setting"
Error showing in a log file on save payment method configuration setting. After upgrade extension from 3.4.1 to 3.6.2 by the composer.
**Error showing in the log file:**
main.CRITICAL: Error: Class '**Razorpay\Api\Webhook**' not found in public_html/vendor/razorpay/razorpay/src/Api.php:67

[2021-07-20 07:51] ramth05 commented on #262
@dev-amitsaini ,  can you please upgrade this as well "razorpay/razorpay" through composer with latest one. Looks it's picking old version of SDK.
https://github.com/razorpay/razorpay-php

[2021-07-20 17:06] dev-amitsaini commented on #262
Thank you @ramth05.
After upgrade "razorpay/razorpay" it's working fine.

[2021-07-20 17:06] #262 closed, assigned to nobody

[2021-07-21 10:52] abhilashiic commented on #261
- I am also facing the same issue.

- It works sometimes and after that, it gets automatically disabled.

[2021-07-22 01:21] ramth05 commented on #261
@ankittparikh , Can you please help me to understand it. Are you using same RZP account for other integrations as well.

We are working on to handle the other integration payload and will try to release the fix soon.

[2021-07-22 07:55] ankittparikh commented on #261
Issue resolved from our side.

[2021-07-23 13:10] prashantextcommerce opened #263 "Magento Backend save config issue"
I installed the Magento 2 plugin in my store. I successfully installed the Magento 2 plugin version 3.6.2 but I am getting below error while Save Razorpay pay payment config setting from Magento Backend.

Undefined index: razorpay in /app/code/Razorpay/Magento/Observer/AfterConfigSaveObserver.php

I tried to solve as per the given solution docs in the troubleshooting section https://razorpay.com/d

[2021-07-23 13:28] ramth05 commented on #263
@prashantextcommerce , How you have installed the plugin. by using "code.zip" or just from the source code.
Please try to run `setup:di:compile` and check for the errors.

[2021-07-23 13:39] prashantextcommerce commented on #263
I tried using both composer and "code.zip" but the error was not resolved even after run bin/magento setup:di:compile

[2021-07-23 13:54] ramth05 commented on #263
@prashantextcommerce , what version of magento you are using and can you please share the output of above command.

[2021-07-23 14:30] prashantextcommerce commented on #263
I am using Magento ver. 2.4.2-p1
I attached screenshots of backend config error and di compile output.
<img width="1647" alt="admin_config_error" src="https://user-images.githubusercontent.com/25030256/126797072-9005004f-31b2-48cd-9ab4-e299ffa1964a.png">
<img width="593" alt="di_complie" src="https://user-images.githubusercontent.com/25030256/126797161-aaef4a43-1734-4b3f-b043-7318542da711.png">

[2021-07-30 15:03] srtrend commented on #261
Any update is the webhook issue resolved. I have updated the plugin but still not getting payment of missing orders

[2021-08-02 05:57] ramth05 commented on #261
@srtrend, which version of the plugin you using and are you getting any error reported in logs.

[2021-08-02 06:27] srtrend commented on #261
Current version 3.6.2 as shared by razorpay support team

On Mon, 2 Aug 2021 at 11:27 AM, Ram Prakash Singh ***@***.***>
wrote:

--
Thanks for trusting Version-Next!

Sumeet Rathod
CMO  / Version Next Technologies Pvt. Ltd.

829/B, Pranik Chambers, Sakinaka Junction, Andheri East,
Mumbai - 400072,Maharashtra, India.

  +91-9930809661/ +91-22-28478336 / 28593372 *Ext:* 21

*Client Portal <http://ww

[2021-08-02 06:37] srtrend commented on #261
Here is the log file

On Mon, 2 Aug 2021 at 11:57 AM, Sumeet Rathod, Version-Next Technologies <
***@***.***> wrote:

--
Thanks for trusting Version-Next!

Sumeet Rathod
CMO  / Version Next Technologies Pvt. Ltd.

829/B, Pranik Chambers, Sakinaka Junction, Andheri East,
Mumbai - 400072,Maharashtra, India.

  +91-9930809661/ +91-22-28478336 / 28593372 *Ext:* 21

*Client Portal <http://www.version-n

[2021-08-02 06:51] ramth05 commented on #261
@srtrend , please share the log files to me on `ramprakash.singh@razorpay.com`

[2021-08-05 05:46] sachin000 opened #267 "Razorpay Extended Config Data Missing"
- Front end integration requires Merchant Name & API key ID to initiate Razorpay checkout, this config should come via Extended config query.
- I have created PR for the same , please merge it asap.
https://github.com/razorpay/razorpay-magento/pull/266

[2021-08-05 12:01] sachin000 commented on #267
Fix :
https://github.com/razorpay/razorpay-magento/pull/268

[2021-08-06 06:36] sachin000 commented on #267
https://devdocs.magento.com/guides/v2.4/graphql/develop/extend-existing-schema.html
Re Implementation As per above document ,
Added Additional Config data in new /etc/graphql/di.xml
Tested & Working

![image](https://user-images.githubusercontent.com/6098456/128466944-09c0bba4-ae16-464d-94a3-acfa16c40c24.png)

[2021-08-09 01:44] shixiujuan commented on #208
Hi All, May I know how the problem was finally solved? We only use Razorpay for the payment, and currently facing the same problems. has also lost many customers and urgently need to fix this problem. Thank you.

[2021-08-09 03:04] ramth05 commented on #208
@shixiujuan , Please use latest plugin 3.6.2 to resolve above issues.

[2021-08-09 03:36] shixiujuan commented on #208
Thank you so much for advice. we just updated the plugin verson to 3.6.3 this morning, and still experiencing this problem.

![image](https://user-images.githubusercontent.com/88638550/128657879-6e9e5a85-3f83-4a0c-893f-9f60fa3590c2.png)

[2021-08-09 03:42] shixiujuan commented on #208
Sorry, we updated to 3.6.2 Version. still experienced this problem, tested in test environment.

[2021-08-09 05:49] ramth05 commented on #208
@shixiujuan , A per our records orderId recored as `000000158`. Please check your system or magento logs for any error or issue if it's not reflecting in Magento dashboard.

[2021-08-09 06:42] shixiujuan commented on #208
Thank you so much. but their was no log information about 158.
![image](https://user-images.githubusercontent.com/88638550/128668476-422e8525-fb9c-4410-a00c-752ae0d2edcc.png)

[2021-08-18 10:25] inventorDrizzt opened #271 "Does not appear on checkout screen"
I tried installing your Razorpay module on Magento 2.4.1 with elasticsearch on Cloudways server, But it does not appear on checkout page. Need assistance.
Also, composer way does not work.

[2021-08-18 10:29] ramth05 commented on #271
@inventer88 , can you please run `setup:di:compile` and provide the logs.

[2021-08-28 03:55] ia-gaurav commented on #241
@gopal2k6  how did u recovered missed order

[2021-08-28 04:32] ramth05 commented on #241
@ia-gaurav , Please use latest version of plugin and enable webhook. It should resolve the issue.

[2021-08-28 06:27] gopal2k6 commented on #241
July Month Order Not recovered. it's around  40k Missing order . Payment is capture but order id not generated in Magento admin.

[2021-08-28 06:28] gopal2k6 commented on #241
@ramth05 & @ia-gaurav

[2021-08-28 06:28] gopal2k6 commented on #241
July Month Order Not recovered. it's around 40k Missing order . Payment is capture but order id not generated in Magento admin.

@ramth05 & @ia-gaurav

[2021-08-28 06:47] ramth05 commented on #241
@gopal2k6 , Please make sure you are in latest version of the razorpay module and webhook enabled. If you still facing issue please let me know.
That much missing order means some issue in your site or webhook disabled.

[2021-08-28 07:10] gopal2k6 commented on #241
It was Old order When old Extension was installed.

[2021-08-28 07:11] gopal2k6 commented on #241
Why not create Pending Order If payment failed then i have chance to  recover order. Right now i have no choice of recover order if webhook failed some condition.

[2021-08-28 07:18] gopal2k6 commented on #241
There are no bugs,  Some time website/Mobile Hang because you are using same JS popup in Magento platform.. When device have low memory or something else...

[2021-08-28 11:22] ia-gaurav commented on #241
@gopal2k6  and @ramth05  i have updated module using zip mode downloaded from - https://github.com/razorpay/razorpay-magento

from where should i download latest Razorpay/Razorpay folder

[2021-08-28 11:59] ramth05 commented on #241
@ia-gaurav, please find the latest release  https://github.com/razorpay/razorpay-magento/releases/tag/3.6.3

[2021-08-29 16:19] ia-gaurav opened #273 "Error while creating invoice"
I am getting below error while creating invoice:

Razorpay Error: Notice: Trying to access array offset on value of type null in app/code/Razorpay/Magento/Model/PaymentMethod.php on line 327.

below option is not needed

![image](https://user-images.githubusercontent.com/63009790/131257575-efb61b20-ba34-4b34-8a2e-aeaa8915a8fc.png)

[2021-09-09 12:53] ramth05 commented on #273
@ia-gaurav , Can you please provide the steps for the same. As invoice gets generated when we place the order.

[2021-09-19 11:39] vinaykumar9999 opened #277 "Need a way to disable auto sending email of Invoice to customer after placing order"
Hi

Please help me in solving the following issue.

Please select the Payment Action Option to "Authorize and Capture"

Screenshot : https://prnt.sc/1stim9z

Only this option is sending automatic Emails of Invoice to Customer Just after placing the order.
It is best if it is generating Invoices only, rather then sending emails directly to customers.

How to stop sending invoice auto emails to cust

[2021-09-19 14:07] ramth05 commented on #277
@vinaykumar9999 , Auto invoice emails can be disabled `Store->Configuration->Sales->Sales Emails -> Invoice`

[2021-09-19 16:35] vinaykumar9999 commented on #277
@ramth05
I have tried this way, no invoice emails are sent if I want to send customers manually.

Above mentioned method disable sending of Invoice Emails permanently in every payment method.

There is some code in razorpay extension which is triggering Auto send of invoices emails to customers.

[2021-09-22 05:33] vinaykumar9999 commented on #277
@ramth05 Any fix for this issue?

[2021-09-22 05:40] ramth05 commented on #277
@vinaykumar9999 , this is default magento functionality if invoice gets generated and emails enabled it will gets send.

[2021-09-23 06:49] raguventhan opened #279 "Multiple refunds not working"
In my Magento 2 store, only one time i can initiate refund for single invoice.

Description: If invoice contains 2 or more items and if i refund for one item, again i can't initiate second refund for the remaining items

[2021-09-25 07:53] HarishSTOnline opened #281 "Typo emprty() in vendor/razorpay/magento/Model/PaymentMethod.php"
There is a typo in the file vendor/razorpay/magento/Model/PaymentMethod.php:256

[code]

Leads to the below error:
[code]

The PHP function should be empty() instead of emprty().
This should cause the GraphQL API to fail, I am trying to use this for my REST API though.

![image](https://user-images.githubusercontent.com/35702338/134763745-e3489dc8-582f-47d9-9c64-c213ecbce03b.png)

[2021-09-25 08:26] HarishSTOnline commented on #281
#282

Pull request created. Please review.

[2021-09-26 20:17] #281 closed, assigned to nobody

[2021-09-30 05:52] kaushikrohit54 opened #283 "Magento 2.4 creating 2 orders with same payement ID"
In some cases Magento produce 2 order ID in backend with same Trans_id, while in Razorpay dashboard it's shows only 1 order.
Can you pls check this senerio?

[2021-09-30 05:57] ramth05 commented on #283
@kaushikrohit54 , Which version of plugin you are using currently.
Can you please try add some more delay for webhook wait time.

[2021-09-30 06:56] amitabesit commented on #283
Already webhook wait time is 300 sec, Still Magento 2.4 creating 2 orders with same payement ID

[2021-09-30 07:09] ramth05 commented on #283
@amitabesit, Can you please help us with some screen shot with order timing and paymentId. Let me look on it.

[2021-10-04 07:25] NagendraKodi commented on #259
Do we have any update on this?

[2021-10-06 06:39] bindhuzamorins commented on #179
I am still facing issue where customer has made payment but order is not created on admin panel also order_id is missing in Razor pay dashboard . I am using razor pay version 3.2.1 and my Magento version is 2.4.0

[2021-10-06 06:52] ramth05 commented on #179
@bindhuzamorins , Please use latest razorpay version 3.6.4, to avoid this issue.

[2021-10-09 14:56] HarishSTOnline opened #287 "New Order Status: Only 'processing' order state available"
Is there any specific reason that "New Order Status" in Configuration is bind to `Magento\Sales\Model\Config\Source\Order\Status\Processing` source model rather than `Magento\Sales\Model\Config\Source\Order\Status` ?

In `vendor/razorpay/magento/etc/adminhtml/system.xml`:71

[code]

At present, if someone want to change the default order state to other than `processing`, there is no option. If thi

[2021-10-11 10:01] kaushikrohit54 commented on #283
![unnamed](https://user-images.githubusercontent.com/19974514/136771828-e34a9312-9ca8-445d-9644-b486ca331fea.png)

[2021-10-11 10:12] ramth05 commented on #283
@kaushikrohit54 , As I checked your site still using old version of the module where this issue exist. Please upgrade to the latest module 3.7.0 to fix this issue.

[2021-10-26 06:40] raguventhan opened #291 "Orders getting duplicated"
Am using the 3.7.1 version and I have configured 3 webhook events
payment.authorized
payment.captured
order.paid

Some of the orders getting duplicated. For the one payment id two orders getting created in magento backend.

[2021-10-28 04:35] raguventhan commented on #291
Update to above issue:
1) Configured only following two events in Razorpay panel
payment.authorized
order.paid

2) Increased the Webhook time from 300 to 500 sec.

So far i haven't got any duplicate or missing orders.

[2021-11-08 04:40] raguventhan commented on #291
Update to above issue:

Still the above problems not resolved.

(Out of 305 transactions)
1) Two orders created in magento for one paymentID (For 6 transactions)
2) Orders not created in magento for captured payment (For 3 transactions)

[2021-11-08 05:08] ramth05 commented on #291
@raguventhan , with latest release 2 order shouldn't be created for the same transaction.
Orders not created may be some validations fails after payment. Can you please share me paymentId's and logs for the same in my email `ramprakash.singh@razorpay.com`.

[2021-11-08 05:56] raguventhan commented on #291
Sent to your email

[2021-11-12 20:47] hitendra52 opened #293 "Uncaught Error: Class 'Razorpay\Api\Webhook' not found"
Magento ver. 2.3.3
Razorpay module version : 3.7.1

How to reproduce :
1.  Login to Magento admin
2. Stores > Configuration >Sales >Payment methods >Razorpay > Webhook Enabled
3. Enable/Disable
4. Save

Error :
[code]

[2021-11-13 10:18] ramth05 commented on #293
@hitendra52 , If you are using composer based installation please upgrade Razorpay sdk as well.

[2021-11-15 06:17] zeekinfo opened #294 "payment not successfully"
HI,

am using Magento 2.4.2  i installed your module but payment not successfully. am getting an error https://prnt.sc/1zmxx3m

How to fix this ?

[2021-11-17 04:48] ramth05 commented on #294
@zeekinfo , Which version of Razorpay you are trying ?

[2021-12-06 09:14] cshemantsinghsparx opened #298 "Razorpay Error: Razorpay paymentId missing for payment verification"
I am sending the request to complete the payment through the Magento 2.4.2 REST API but facing payment id issues while ordering the product.

Payload:

`{
 "email": "cs.hemantsinghsparx@gmail.com",
 "cart_id": 266,
 "billing_address": {
              "email": "cs.hemantsinghsparx@gmail.com",
             "region": "Uttar Pradesh",
             "region_id": 566,
             "region_code": "UP",

[2021-12-06 09:47] ramth05 commented on #298
@cshemantsinghsparx , please use GraphQL https://github.com/razorpay/razorpay-magento#working-with-graphql

[2021-12-06 10:16] cshemantsinghsparx commented on #298
Can you please explain why i should use GraphQL ? if my whole android application is designed in such a way that where i have to send the request to make payment using API.

does Razorpay not support payment using api ? @ramth05

[2021-12-07 05:50] cshemantsinghsparx commented on #298
Hello @ramth05 can you please update ?

[2021-12-07 05:54] ramth05 commented on #298
No, currently only GraphQL supported.

[2021-12-08 10:29] ashokraman commented on #218
I am getting this error from vue-storefront 2 version - Unable to place order - Razor payment details missing - Path: placeOrder - related issue?

[2022-01-14 09:46] Vishal-Magento commented on #13
Hello
From few days razorpay is not working for customers... facing issue: "cURL error 6: Could not resolve host: api.razorpay.com"
before it was working fine Can you please help... Thanks In Advance.
Magento v: 2.4.2.

[2022-01-14 09:47] Vishal-Magento opened #306 "Razorpay Issue : cURL error 6: Could not resolve host: api.razorpay.com"
Hello
From few days razorpay is not working for customers... facing issue: "cURL error 6: Could not resolve host: api.razorpay.com"
before it was working fine Can you please help... Thanks In Advance.
Magento v: 2.4.2.

[2022-01-14 13:22] ace03uec opened #307 "test issue"

[2022-01-14 18:00] ujala-singh opened #308 "Test Issue"
Test Issue

[2022-01-17 11:14] ujala-singh opened #309 "Testing Freshdesk Ticket Creation Issue"
Testing Freshdesk Ticket Creation Issue

[2022-01-17 11:59] #309 closed, assigned to nobody

[2022-01-17 11:59] ujala-singh opened #310 "Testing Freshdesk Ticket Creation Issue"
Testing Freshdesk Ticket Creation Issue

[2022-01-17 12:00] #310 closed, assigned to nobody

[2022-01-17 12:00] ujala-singh opened #311 "Testing Freshdesk Ticket Creation Issue"
Testing Freshdesk Ticket Creation Issue

[2022-01-17 12:33] #311 closed, assigned to nobody

[2022-01-17 12:34] ujala-singh opened #312 "Testing Freshdesk Ticket Creation Issue"
Testing Freshdesk Ticket Creation Issue

[2022-01-17 12:34] #312 closed, assigned to nobody

[2022-01-18 05:35] vishalpatel19862 opened #313 "Magento 2.3.1 Undefined index: label"
I am using Magento 2.3.1
I have installed the Razor pay module below 2.3.3.
If I click on the view order on the admin panel, we are getting the below error.

1 exception(s):
Exception #0 (Exception): Notice: Undefined index: label in /home2/dev1/www/vendor/magento/module-backend/Block/Widget/Grid/Column/Filter/Select.php on line 75

[2022-01-20 09:57] vinita-razor opened #314 "Testing Ticket creation on prod"
Testing Ticket creation on prod
Please close the ticket

[2022-01-20 09:59] #314 closed, assigned to nobody

[2022-01-25 05:39] vinita-razor opened #316 "Testing if Ticket gets created in Freshdesk"
Testing if Ticket gets created in Freshdesk

[2022-01-25 06:11] #316 closed, assigned to nobody

[2022-01-25 06:17] vinita-razor opened #317 "Testing again"
Testing again

[2022-01-25 06:19] #317 closed, assigned to nobody

[2022-01-25 06:43] vinita-razor opened #318 "Testing ticket creation and group id"
Testing ticket creation and group id

[2022-01-25 06:45] #318 closed, assigned to nobody

[2022-01-25 06:45] vinita-razor opened #319 "Ticket Syntax test"
Ticket Syntax test

[2022-02-03 06:20] aniruddharay opened #322 "Magento 2.3.7 p-2 : Customer does not have an active cart"
Razorpay redirect to `checkout/cart` instead of `checkout/onepage/success`, after payment processing is complete.

During payment processing, shows the error  _**Customer does not have an active cart**_, and goes to blank cart page.

![Screenshot 2022-01-28 at 12 59 27 PM](https://user-images.githubusercontent.com/69155933/152291333-0792b1e9-7ccc-4c6b-ac04-affca8d29c5c.png)

After some digging, fo

[2022-02-14 07:50] ia-gaurav opened #334 "want card details to be entered on our website intead of pop up or iframe"
want card details to be entered on our website intead of pop up or iframe

[2022-02-15 08:40] anandmaldikar1 commented on #334
For Plugins, we only have standard checkout integration where you will get a popup to enter the card details or to select the Payment method.
For the rest of the server integrations, you can follow below integration document.

https://razorpay.com/docs/payments/payment-gateway/web-integration/custom/

[2022-02-19 14:33] ia-gaurav opened #340 "error Undefined class constant 'DISABLE_UPGRADE_NOTICE'"
Magento : 2.4
Plugin version - [beta-3.3.4](https://github.com/razorpay/razorpay-magento/releases/tag/beta-3.3.4)

Error - I see below error in admin panel Undefined class constant 'DISABLE_UPGRADE_NOTICE'

Also when we can expect final version

[2022-02-22 15:58] ia-gaurav opened #341 "open payment form on razorpay domain instead of pop up"
i want to open razorpay payment gateway on razorpay domain instead of pop up behaviour , any way to do this

[2022-02-25 09:22] binumathew opened #347 "When One Transaction Done merchant_order_id is missing in the Notes"
As a Magento customer logged in and selected one product and after payment successful when I check the Transaction in the Notes, I show

merchant_order_id
--
merchant_quote_id
107

Any idea why my  merchant_order_id is missing?
Magento ver. 2.3.5-p2
Razor Pay Magento Plugin  Ver 2.9.4

[2022-03-07 06:40] vishalaureate opened #348 "Refund online"
Please implement refund online functionality through Magento 2 backend.

[2022-05-28 16:04] karthikmallireddy opened #362 "Magento 2.4.4 Compatibility"
Unable to Install the Razor Pay Extension using Composer for Magento 2.4.4.

[2022-06-03 00:33] avi-commerce commented on #362
I have faced the same issue when we install the Razor Pay extension in Magento 2.4.4

[2022-06-07 15:56] ravikumarkarri commented on #362
I have faced similar issue for my new magento 2.4.4 application. It is issue with PHP 8.1 version. I hope the team will fix the compatible issues, Waiting for solution.

[2022-06-07 16:09] rauljitechnologies commented on #362
![image](https://user-images.githubusercontent.com/106725861/172428865-c89e31dd-8053-4f23-ae11-7f849032d5b4.png)

i have faced similar issue for new magento 2.4.4 version.

[2022-06-17 11:46] laxus456 commented on #13
Hi,
I have an error which said that "Amount exceeds maximum amount allowed." even though i only have 2 usd as input.
I also check my console log which resulted to:

![image](https://user-images.githubusercontent.com/60313901/174292151-9db7bf91-bc61-4daf-929b-33f6fb27930c.png)

i already entered the key and secret in my controller to test it

[2022-07-26 08:57] myselfgaurav opened #375 "Mails are getting send without payment done"
I am using 2.8.4-beta - we are having issue , customer are getting mail even if they have not paid for order , pls fix

[2022-07-26 10:42] enishant commented on #375
@myselfgaurav You are using plugin with an older version, this issue has been fixed in `beta-3.5.1` version. You can setup updated version of Razorpay Magento which is [3.8.5-beta](https://github.com/razorpay/razorpay-magento/releases/tag/3.8.5-beta)

You can refer to our integration documentation at https://razorpay.com/docs/payments/payment-gateway/ecommerce-plugins/magento/

[2022-07-26 10:53] myselfgaurav commented on #375
getting below error in 3.8.5-beta

PHP Fatal error:  Uncaught Error: Class 'WpOrg\Requests\Autoload' not found in /app/code/Razorpay/Razorpay/Razorpay.php:11
Stack trace:

[2022-07-26 10:53] enishant commented on #375
@myselfgaurav Please setup latest version [3.8.5-beta](https://github.com/razorpay/razorpay-magento/releases/tag/3.8.5-beta), this version has fixes to all known issues.

[2022-07-26 10:57] myselfgaurav commented on #375
i am using 3.8.5-beta, when i run se:up command it gives me  below error :

PHP Fatal error: Uncaught Error: Class 'WpOrg\Requests\Autoload' not found in /app/code/Razorpay/Razorpay/Razorpay.php:11

[2022-07-26 12:08] enishant commented on #375
@myselfgaurav Please install the extension through composer package manager.

`composer require razorpay/magento:3.8.5-beta`

Execute following commands from Magento root directory:
`bin/magento module:enable Razorpay_Magento`
`bin/magento setup:di:compile`
`bin/magento setup:upgrade`
`bin/magento cache:flush`

Install Magento Cron
`bin/magento cron:install`

[2022-08-24 14:33] muhammed-ijlan commented on #13
Hi,
I have an error which said that "Amount exceeds maximum amount allowed." even though i only have 500 INR as input.
how to fix this.?

[2022-09-16 20:26] devops0019 opened #384 "Log file permission issue"
Hi,

I am having a word issue with the log file generated by razorpay. Due to which my transactions are failed. It's there any way I can sort it out?

[2022-10-05 07:07] sanganinamrata opened #386 "Cancle order & resetCart graphql is missing."
Graph compatible with https://github.com/razorpay/razorpay-magento/pull/339 Magento feature is missing. So if I close the Braintree popup on the checkout page, my order doesn't get canceled & my cart doesn't get reset.

[2022-10-05 07:21] sanganinamrata commented on #386
@enishant Will you please address the above?

[2022-11-08 04:51] cowell-tuyennt7289 opened #394 ""WpOrg\Requests\Autoload" not found"
I followed the steps below and got an error.

Steps:
+ magento ver 2.4.4.
+ https://github.com/razorpay/razorpay-magento/releases .download code.zip ver 4.0.0
+ php bin/magento setup:upgrade
![image](https://user-images.githubusercontent.com/97152778/200477719-54eea946-1636-49eb-884d-a27a997345af.png)

Expected Result:
Extension installation successful.

[2022-11-08 07:48] #394 closed, assigned to nobody

[2022-11-14 11:16] vinaykumar9999 opened #396 "Issue with RazorPay Newest Version 4.0.1 in Magento 2.4.5"
Hi

Getting this error while saving the configuration in Razorpay Payment Method

Error: Cannot instantiate abstract class Magento\Framework\Model\ResourceModel\AbstractResource in /home/test/xyz/vendor/magento/framework/ObjectManager/Factory/Dynamic/Developer.php:50

Magento 2.4.5 with PHP 8.1 > Latest RazorPay Version 4.0.1

How to fix this issue?

[2022-11-14 12:11] enishant commented on #396
Please execute following commands from Magento root directory.
[code]

Execute following commands, if maximum memory required while execution.
[code]

Then at the Magento admin dashboard, open Razorpay payment method settings and click on the `Save Config` button. Please comment to know if you still face any issues after applying above actions.

[2022-11-14 13:52] vinaykumar9999 commented on #396
I have successfully run all the above mentioned commands.

Screenshot : https://prnt.sc/u8669uA23nEn

Screenshot : https://prnt.sc/6WzBxVvaZoQx

Still Facing the same error while clicking on save config button.

May be the issue is related to constructor.

Ref Link : https://community.magento.com/t5/Magento-2-x-Technical-Issues/Magento-2-Error-Cannot-instantiate-abstract-class-Magento/m-p/501448

[2022-11-16 07:09] vinaykumar9999 commented on #396
Hi

Version 4.0.0 is not throwing any error. There is some issue in V4.0.1(Please Check it)

Facing some issues with V4.0.0

1. On Checkout Page>When customer click on Show QR Code >And close RazorPay window. Extension places order automatically. How to stop this behavior.

2. Order Status must come as Pending in Backend, But it is coming Processing after the above process (Mentioned in Step 1).

[2022-11-17 09:01] gopal2k6 commented on #396
We are facing same issue in Fresh Magento install in 2.4.5-p1. Please review code and update this issue.

[2022-11-17 09:13] sanganinamrata commented on #396
I'm also facing the same issue since today post module upgrade to 4.0.1

[2022-11-18 07:37] gopal2k6 commented on #396
Hi Team,

Is that any update regarding this issue?? We need to go live with New Version. Please update soon as possible.

Regards
-G

[2022-11-20 09:38] jatinderkumar-india commented on #396
Hi

Issue still exists with RazorPay Newest Version 4.0.1. Please provide the fix on this.

Thanks

[2022-11-23 11:45] enishant commented on #396
This issue has been fixed with latest commits, we will release this fix with our upcoming version. If you are expecting fixed changes before release you can use following instructions:

### Install through composer
`composer require razorpay/magento:dev-master-2.x`

### Install through code.zip
Download [code.zip](https://github.com/razorpay/razorpay-magento/files/10075095/code.zip) provided here.

[2022-11-23 14:36] vinaykumar9999 commented on #396
Hi

That Previous Error is fixed in dev-master

But Above Mentioned Behavior with QR Code is present.

This issue is with UPI only. All others methods are not placing order on Failure of payment.

Screenshot : https://prnt.sc/_SkDHQDUp-A5

Regards

[2022-11-24 10:35] enishant commented on #396
@vinaykumar9999 Regarding this checkout page issue, please raise a [support ticket](https://razorpay.com/support/#request) along with your MID and mode that you are using while processing transaction.